Repository KyoriPowered/adventure, pull requests merged in 2020-11, with the labels that each got.

#192 build: Update for gradle 6.7
  api/build.gradle
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  nbt/build.gradle
  serializer-configurate4/build.gradle
Labels: dependencies

#193 Add a check for null nbt data on item hovers
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/ShowItemSerializer.java
Labels: area: text-serialiser/gson, type: bug

#196 text-serializer-legacy: fix #195
  text-serializer-legacy/src/main/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializerImpl.java
  text-serializer-legacy/src/test/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializerTest.java
Labels: area: text-serialiser/legacy, type: bug

#198 configurate4: Update for final release
  build.gradle
  serializer-configurate4/build.gradle
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/ComponentTypeSerializer.java
Labels: area: serialiser/configurate4

#204 text-serializer-legacy: allow specifying custom url pattern
  text-serializer-legacy/src/main/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializer.java
  text-serializer-legacy/src/main/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializerImpl.java
Labels: area: text-serialiser/legacy, type: enhancement

#199 api: Fix handling of first replacements in child components
  api/src/main/java/net/kyori/adventure/text/TextReplacementRenderer.java
  api/src/test/java/net/kyori/adventure/text/TextComponentTest.java
Labels: area: api, type: bug

#208 Improve (and refactor) testing
  api/src/test/java/net/kyori/adventure/identity/IdentityTest.java
  api/src/test/java/net/kyori/adventure/key/KeyTest.java
  api/src/test/java/net/kyori/adventure/text/AbstractComponentTest.java
  api/src/test/java/net/kyori/adventure/text/ComponentTest.java
  api/src/test/java/net/kyori/adventure/text/format/StyleTest.java
  api/src/test/java/net/kyori/adventure/translation/GlobalTranslatorTest.java
  api/src/test/java/net/kyori/adventure/translation/TranslationRegistryTest.java
  api/src/test/java/net/kyori/adventure/translation/TranslatorTest.java
  build.gradle
  text-serializer-gson/src/test/java/net/kyori/adventure/text/serializer/gson/AbstractSerializeDeserializeTest.java
  text-serializer-gson/src/test/java/net/kyori/adventure/text/serializer/gson/BlockNBTComponentTest.java
  text-serializer-gson/src/test/java/net/kyori/adventure/text/serializer/gson/ComponentTest.java
  text-serializer-gson/src/test/java/net/kyori/adventure/text/serializer/gson/EntityNBTComponentTest.java
  text-serializer-gson/src/test/java/net/kyori/adventure/text/serializer/gson/GsonComponentSerializerTest.java
  text-serializer-gson/src/test/java/net/kyori/adventure/text/serializer/gson/GsonTest.java
  text-serializer-gson/src/test/java/net/kyori/adventure/text/serializer/gson/ScoreComponentTest.java
  text-serializer-gson/src/test/java/net/kyori/adventure/text/serializer/gson/SelectorComponentTest.java
  text-serializer-gson/src/test/java/net/kyori/adventure/text/serializer/gson/ShowItemSerializerTest.java
  text-serializer-gson/src/test/java/net/kyori/adventure/text/serializer/gson/StorageNBTComponentTest.java
  text-serializer-gson/src/test/java/net/kyori/adventure/text/serializer/gson/StyleTest.java
  text-serializer-gson/src/test/java/net/kyori/adventure/text/serializer/gson/TextComponentTest.java
  text-serializer-gson/src/test/java/net/kyori/adventure/text/serializer/gson/TranslatableComponentTest.java
  text-serializer-legacy/src/test/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializerTest.java
Labels: area: api, area: text-serialiser/gson, area: text-serialiser/legacy, type: enhancement

#200 api: Add a builder for replacement config
  api/src/main/java/net/kyori/adventure/text/AbstractComponent.java
  api/src/main/java/net/kyori/adventure/text/Component.java
  api/src/main/java/net/kyori/adventure/text/TextReplacementConfig.java
  api/src/main/java/net/kyori/adventure/text/TextReplacementConfigImpl.java
  api/src/test/java/net/kyori/adventure/text/TextComponentTest.java
  text-serializer-legacy/src/main/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializerImpl.java
Labels: area: api, type: enhancement

#213 text-serializer-gson: Don't deserialize into "null"
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/ComponentSerializerImpl.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/GsonComponentSerializerImpl.java
  text-serializer-gson/src/test/java/net/kyori/adventure/text/serializer/gson/GsonComponentSerializerTest.java
Labels: area: text-serialiser/gson, type: bug

#211 build: Add a bom for version alignment across submodules
  .gitignore
  bom/build.gradle
  build.gradle
  settings.gradle
Labels: type: enhancement
