Repository KyoriPowered/adventure, pull requests merged in 2020-09, with the labels that each got.

#146 api: Allow TranslatableComponent builder to use empty keys
  api/src/main/java/net/kyori/adventure/text/TranslatableComponentImpl.java
Labels: area: api, horrible, type: bug

#150 A few misc tweaks
  api/src/main/java/net/kyori/adventure/nbt/api/BinaryTagHolderImpl.java
  api/src/main/java/net/kyori/adventure/text/event/HoverEvent.java
  api/src/test/java/net/kyori/adventure/text/event/HoverEventTest.java
  api/src/test/java/net/kyori/adventure/translation/TranslationRegistryTest.java
  build.gradle
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/ShowEntitySerializer.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/ShowItemSerializer.java
  text-serializer-gson/src/test/java/net/kyori/adventure/text/serializer/gson/StyleTest.java
  text-serializer-gson/src/test/java/net/kyori/adventure/text/serializer/gson/TranslatableComponentTest.java
Labels: area: api, type: enhancement

#149 Style is now an interface
  api/src/main/java/net/kyori/adventure/text/format/Style.java
  api/src/main/java/net/kyori/adventure/text/format/StyleImpl.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/GsonComponentSerializerImpl.java
Labels: area: api, type: enhancement

#157 renderer: Fix merging of fonts and insertions
  api/src/main/java/net/kyori/adventure/text/renderer/TranslatableComponentRenderer.java
Labels: area: api, type: bug

#110 Configurate serializer
  .gitignore
  serializer-configurate3/build.gradle
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/BlockNBTPosSerializer.java
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/BookTypeSerializer.java
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/ComponentTypeSerializer.java
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/ConfigurateComponentSerializer.java
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/ConfigurateComponentSerializerImpl.java
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/DurationSerializer.java
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/HoverEventShowEntitySerializer.java
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/HoverEventShowItemSerializer.java
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/IndexSerializer.java
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/KeySerializer.java
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/SoundSerializer.java
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/SoundStopSerializer.java
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/StyleSerializer.java
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/TextColorSerializer.java
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/TitleSerializer.java
  serializer-configurate3/src/test/java/net/kyori/adventure/serializer/configurate3/BookSerializerTest.java
  serializer-configurate3/src/test/java/net/kyori/adventure/serializer/configurate3/ComponentSerializerTest.java
  serializer-configurate3/src/test/java/net/kyori/adventure/serializer/configurate3/ConfigurateTestBase.java
  serializer-configurate3/src/test/java/net/kyori/adventure/serializer/configurate3/HoverEventSerializersTest.java
  serializer-configurate3/src/test/java/net/kyori/adventure/serializer/configurate3/ScalarSerializersTest.java
  serializer-configurate3/src/test/java/net/kyori/adventure/serializer/configurate3/SoundSerializersTest.java
  serializer-configurate3/src/test/java/net/kyori/adventure/serializer/configurate3/StyleSerializerTest.java
  serializer-configurate3/src/test/java/net/kyori/adventure/serializer/configurate3/TitleSerializerTest.java
  settings.gradle
Labels: area: text-serialiser/configurate3, type: enhancement

#166 api: allow replaceText to return anything ComponentLike
  api/src/main/java/net/kyori/adventure/text/AbstractComponent.java
  api/src/main/java/net/kyori/adventure/text/Component.java
  api/src/main/java/net/kyori/adventure/text/PatternReplacementResult.java
  api/src/main/java/net/kyori/adventure/text/TextReplacementRenderer.java
Labels: area: api, type: enhancement

#165 Add Non-Regex, Non-Lambda overloads for replace methods
  api/src/main/java/net/kyori/adventure/text/Component.java
Labels: area: api, type: enhancement
