Repository KyoriPowered/adventure, pull requests merged in 2020-08, with the labels that each got.

#115 Add replace(n) and replaceFirst methods to TextComponent
  api/src/main/java/net/kyori/adventure/text/TextComponent.java
  api/src/main/java/net/kyori/adventure/text/TextComponentImpl.java
  api/src/main/java/net/kyori/adventure/util/IntPredicate2.java
  api/src/test/java/net/kyori/adventure/text/TextComponentTest.java
Labels: area: api, type: enhancement

#124 github actions
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .github/workflows/validate-gradle-wrapper.yml
  .travis.sh
  .travis.yml
  build.gradle
Labels: type: enhancement

#127 Fix typos in HoverEvent.ShowEntity
  api/src/main/java/net/kyori/adventure/text/event/HoverEvent.java
Labels: area: api, type: bug

#131 Fix empty compound parsing
  nbt/src/main/java/net/kyori/adventure/nbt/TagStringReader.java
  nbt/src/test/java/net/kyori/adventure/nbt/StringIOTest.java
Labels: area: nbt

#132 nbt: Corrently handle other empty tag types
  nbt/src/main/java/net/kyori/adventure/nbt/CharBuffer.java
  nbt/src/main/java/net/kyori/adventure/nbt/TagStringReader.java
  nbt/src/test/java/net/kyori/adventure/nbt/StringIOTest.java
Labels: area: nbt, type: bug

#137 text-serializer-gson: Ensure GsonComponentSerializer#toBuilder() carries over legacy hover event serializer configuration
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/GsonComponentSerializer.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/GsonComponentSerializerImpl.java
Labels: area: text-serialiser/gson, type: enhancement

#138 text-serializer-legacy: preserve useTerriblyStupidHexFormat in toBuilder()
  text-serializer-legacy/src/main/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializerImpl.java
Labels: area: text-serialiser/legacy, type: bug

#136 api: add ComponentMessageThrowable
  api/src/main/java/net/kyori/adventure/util/ComponentMessageThrowable.java
  api/src/test/java/net/kyori/adventure/util/ComponentMessageThrowableTest.java
Labels: area: api, type: enhancement
