Repository KyoriPowered/adventure, pull requests merged in 2020-10, with the labels that each got.

#169 chore: reformat checkstyle config
  .checkstyle/checkstyle.xml
  .checkstyle/suppressions.xml
  api/src/main/java/net/kyori/adventure/inventory/BookImpl.java
  api/src/main/java/net/kyori/adventure/text/ScopedComponent.java
  api/src/main/java/net/kyori/adventure/text/StorageNBTComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/event/HoverEvent.java
  api/src/main/java/net/kyori/adventure/util/Ticks.java
  api/src/test/java/net/kyori/adventure/key/KeyedValueTest.java
  build.gradle
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/BookTypeSerializer.java
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/ComponentTypeSerializer.java
  serializer-configurate3/src/test/java/net/kyori/adventure/serializer/configurate3/BookSerializerTest.java
Labels: type: enhancement

#172 text-serializer-legacy: don't rely on order always being the same
  api/src/main/java/net/kyori/adventure/text/format/NamedTextColor.java
  api/src/test/java/net/kyori/adventure/text/format/NamedTextColorTest.java
  text-serializer-legacy/src/main/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializerImpl.java
Labels: area: api, area: text-serialiser/legacy

#173 Checkstyle checks for Javadoc
  .checkstyle/checkstyle.xml
  .checkstyle/suppressions.xml
  api/src/main/java/net/kyori/adventure/bossbar/package-info.java
  api/src/main/java/net/kyori/adventure/inventory/Book.java
  api/src/main/java/net/kyori/adventure/text/format/Style.java
  api/src/main/java/net/kyori/adventure/text/format/StyleBuilderApplicable.java
  api/src/main/java/net/kyori/adventure/text/format/TextColor.java
  api/src/main/java/net/kyori/adventure/translation/TranslationRegistry.java
  build.gradle
  nbt/src/main/java/net/kyori/adventure/nbt/CharBuffer.java
  nbt/src/main/java/net/kyori/adventure/nbt/StringTagParseException.java
  nbt/src/main/java/net/kyori/adventure/nbt/TagStringReader.java
  nbt/src/main/java/net/kyori/adventure/nbt/TagStringWriter.java
  nbt/src/main/java/net/kyori/adventure/nbt/Tokens.java
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/ConfigurateComponentSerializer.java
Labels: type: enhancement

#170 refactor build system configuration
  .checkstyle/checkstyle.xml
  .github/workflows/publish.yml
  api/build.gradle
  api/src/main/java/net/kyori/adventure/text/BlockNBTComponent.java
  build.gradle
  license_header.txt
  nbt/build.gradle
  serializer-configurate3/build.gradle
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/ComponentTypeSerializer.java
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/ConfigurateComponentSerializerImpl.java
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/StyleSerializer.java
  settings.gradle
  text-serializer-gson/build.gradle
  text-serializer-legacy/build.gradle
  text-serializer-plain/build.gradle
Labels: type: enhancement

#156 api: Add Audience.toAudience()
  api/src/main/java/net/kyori/adventure/audience/Audience.java
  api/src/main/java/net/kyori/adventure/audience/Audiences.java
  api/src/test/java/net/kyori/adventure/audience/AudienceTest.java
Labels: area: api, type: enhancement

#179 Translation improvements
  api/src/main/java/net/kyori/adventure/text/renderer/TranslatableComponentRenderer.java
  api/src/main/java/net/kyori/adventure/translation/GlobalTranslator.java
  api/src/main/java/net/kyori/adventure/translation/GlobalTranslatorImpl.java
  api/src/main/java/net/kyori/adventure/translation/TranslationLocales.java
  api/src/main/java/net/kyori/adventure/translation/TranslationRegistry.java
  api/src/main/java/net/kyori/adventure/translation/TranslationRegistryImpl.java
  api/src/main/java/net/kyori/adventure/translation/Translator.java
  api/src/test/java/net/kyori/adventure/translation/TranslationRegistryTest.java
  api/src/test/java/net/kyori/adventure/translation/TranslatorTest.java
Labels: area: api, type: enhancement

#181 Identities
  api/src/main/java/net/kyori/adventure/audience/Audience.java
  api/src/main/java/net/kyori/adventure/audience/EmptyAudience.java
  api/src/main/java/net/kyori/adventure/audience/ForwardingAudience.java
  api/src/main/java/net/kyori/adventure/identity/Identified.java
  api/src/main/java/net/kyori/adventure/identity/Identities.java
  api/src/main/java/net/kyori/adventure/identity/Identity.java
  api/src/main/java/net/kyori/adventure/identity/IdentityImpl.java
  api/src/main/java/net/kyori/adventure/text/event/ClickEvent.java
  api/src/main/java/net/kyori/adventure/text/event/HoverEvent.java
  api/src/main/java/net/kyori/adventure/text/format/StyleImpl.java
  api/src/main/java/net/kyori/adventure/translation/TranslationRegistryImpl.java
  api/src/test/java/net/kyori/adventure/identity/IdentityTest.java
Labels: area: api, type: enhancement

#184 Fix translatable component rendering bug with nested children
  api/src/main/java/net/kyori/adventure/text/renderer/TranslatableComponentRenderer.java
  api/src/test/java/net/kyori/adventure/translation/TranslationRegistryTest.java
Labels: area: api, type: bug

#185 4.1.1: fix forwarding audience overloads
  api/src/main/java/net/kyori/adventure/audience/ForwardingAudience.java
  build.gradle
Labels: area: api

#183 configurate4: Initial port
  .gitignore
  build.gradle
  serializer-configurate4/build.gradle
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/BlockNBTPosSerializer.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/BookTypeSerializer.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/ComponentTypeSerializer.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/ConfigurateComponentSerializer.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/ConfigurateComponentSerializerImpl.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/DurationSerializer.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/HoverEventShowEntitySerializer.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/HoverEventShowItemSerializer.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/IndexSerializer.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/KeySerializer.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/SoundSerializer.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/SoundStopSerializer.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/StyleSerializer.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/TextColorSerializer.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/TitleSerializer.java
  serializer-configurate4/src/test/java/net/kyori/adventure/serializer/configurate4/BookSerializerTest.java
  serializer-configurate4/src/test/java/net/kyori/adventure/serializer/configurate4/ComponentSerializerTest.java
  serializer-configurate4/src/test/java/net/kyori/adventure/serializer/configurate4/ConfigurateTestBase.java
  serializer-configurate4/src/test/java/net/kyori/adventure/serializer/configurate4/HoverEventSerializersTest.java
  serializer-configurate4/src/test/java/net/kyori/adventure/serializer/configurate4/ScalarSerializersTest.java
  serializer-configurate4/src/test/java/net/kyori/adventure/serializer/configurate4/SoundSerializersTest.java
  serializer-configurate4/src/test/java/net/kyori/adventure/serializer/configurate4/StyleSerializerTest.java
  serializer-configurate4/src/test/java/net/kyori/adventure/serializer/configurate4/TitleSerializerTest.java
  settings.gradle
Labels: area: serialiser/configurate4
