Repository KyoriPowered/adventure, pull requests merged in 2020-12, with the labels that each got.

#217 text-serializer-gson-legacy-impl
  settings.gradle
  text-serializer-gson-legacy-impl/build.gradle
  text-serializer-gson-legacy-impl/src/main/java/net/kyori/adventure/text/serializer/gson/legacyimpl/NBTLegacyHoverEventSerializer.java
  text-serializer-gson-legacy-impl/src/main/java/net/kyori/adventure/text/serializer/gson/legacyimpl/NBTLegacyHoverEventSerializerImpl.java
Labels: type: enhancement

#219 api: Player list header/footer support
  api/src/main/java/net/kyori/adventure/audience/Audience.java
  api/src/main/java/net/kyori/adventure/audience/EmptyAudience.java
  api/src/main/java/net/kyori/adventure/audience/ForwardingAudience.java
Labels: area: api, type: enhancement

#228 Add JetBrains Contract annotations to some methods
  api/build.gradle
  api/src/main/java/net/kyori/adventure/audience/ForwardingAudience.java
  api/src/main/java/net/kyori/adventure/bossbar/BossBar.java
  api/src/main/java/net/kyori/adventure/bossbar/BossBarImpl.java
  api/src/main/java/net/kyori/adventure/bossbar/HackyBossBarPlatformBridge.java
  api/src/main/java/net/kyori/adventure/inventory/Book.java
  api/src/main/java/net/kyori/adventure/key/Key.java
  api/src/main/java/net/kyori/adventure/key/KeyImpl.java
  api/src/main/java/net/kyori/adventure/text/BlockNBTComponent.java
  api/src/main/java/net/kyori/adventure/text/Component.java
  api/src/main/java/net/kyori/adventure/text/ComponentBuilder.java
  api/src/main/java/net/kyori/adventure/text/ComponentBuilderApplicable.java
  api/src/main/java/net/kyori/adventure/text/ComponentLike.java
  api/src/main/java/net/kyori/adventure/text/EntityNBTComponent.java
  api/src/main/java/net/kyori/adventure/text/KeybindComponent.java
  api/src/main/java/net/kyori/adventure/text/NBTComponent.java
  api/src/main/java/net/kyori/adventure/text/NBTComponentBuilder.java
  api/src/main/java/net/kyori/adventure/text/ScoreComponent.java
  api/src/main/java/net/kyori/adventure/text/SelectorComponent.java
  api/src/main/java/net/kyori/adventure/text/StorageNBTComponent.java
  api/src/main/java/net/kyori/adventure/text/TextComponent.java
  api/src/main/java/net/kyori/adventure/text/TextReplacementConfig.java
  api/src/main/java/net/kyori/adventure/text/TranslatableComponent.java
  api/src/main/java/net/kyori/adventure/text/format/Style.java
  api/src/main/java/net/kyori/adventure/text/format/StyleBuilderApplicable.java
  api/src/main/java/net/kyori/adventure/util/Buildable.java
Labels: area: api, type: enhancement

#233 api: Correct handling of children in some text replacements
  api/src/main/java/net/kyori/adventure/text/TextReplacementRenderer.java
  api/src/test/java/net/kyori/adventure/text/TextComponentTest.java
  api/src/test/java/net/kyori/adventure/text/TextReplacementRendererTest.java
Labels: area: api, type: bug

#240 nbt: ability to add multiple tags to a Compound tag
  nbt/src/main/java/net/kyori/adventure/nbt/CompoundBinaryTag.java
  nbt/src/main/java/net/kyori/adventure/nbt/CompoundBinaryTagImpl.java
  nbt/src/main/java/net/kyori/adventure/nbt/CompoundTagBuilder.java
  nbt/src/main/java/net/kyori/adventure/nbt/CompoundTagSetter.java
Labels: area: nbt, type: enhancement

#247 nbt: ListBinaryTag.getList
  nbt/src/main/java/net/kyori/adventure/nbt/ListBinaryTag.java
Labels: area: nbt, type: enhancement

#248 nbt: ListBinaryTag.add(Iterable)
  nbt/src/main/java/net/kyori/adventure/nbt/ListBinaryTag.java
  nbt/src/main/java/net/kyori/adventure/nbt/ListBinaryTagImpl.java
  nbt/src/main/java/net/kyori/adventure/nbt/ListTagBuilder.java
  nbt/src/main/java/net/kyori/adventure/nbt/ListTagSetter.java
Labels: area: nbt, type: enhancement

#251 serializer-configurate*: Fix handling of string component output
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/ComponentTypeSerializer.java
  serializer-configurate3/src/test/java/net/kyori/adventure/serializer/configurate3/ComponentSerializerTest.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/ComponentTypeSerializer.java
  serializer-configurate4/src/test/java/net/kyori/adventure/serializer/configurate4/ComponentSerializerTest.java
Labels: area: serialiser/configurate3, area: serialiser/configurate4, type: bug

#249 nbt: Introduce a new way to read and write binary tags, with support for (legacy) named roots.
  nbt/src/main/java/net/kyori/adventure/nbt/BinaryTagIO.java
  nbt/src/main/java/net/kyori/adventure/nbt/BinaryTagReaderImpl.java
  nbt/src/main/java/net/kyori/adventure/nbt/BinaryTagWriterImpl.java
  nbt/src/test/java/net/kyori/adventure/nbt/BigTest.java
  nbt/src/test/java/net/kyori/adventure/nbt/BinaryTagIOTest.java
  nbt/src/test/java/net/kyori/adventure/nbt/StringIOTest.java
Labels: area: nbt, type: enhancement

#243 nbt: Compound removal methods
  nbt/src/main/java/net/kyori/adventure/nbt/CompoundBinaryTagImpl.java
  nbt/src/main/java/net/kyori/adventure/nbt/CompoundTagBuilder.java
  nbt/src/main/java/net/kyori/adventure/nbt/CompoundTagSetter.java
Labels: area: nbt, type: enhancement

#252 Include empty components in translatable arguments
  api/src/main/java/net/kyori/adventure/text/AbstractComponent.java
  api/src/main/java/net/kyori/adventure/text/TranslatableComponentImpl.java
  api/src/test/java/net/kyori/adventure/text/TranslatableComponentTest.java
Labels: area: api, type: bug
