Repository KyoriPowered/adventure, pull requests merged in 2020-07, with the labels that each got.

#90 Finish Audience documentation, solidify the interface
  api/src/main/java/net/kyori/adventure/audience/Audience.java
  api/src/main/java/net/kyori/adventure/audience/EmptyAudience.java
  api/src/main/java/net/kyori/adventure/audience/ForwardingAudience.java
  api/src/main/java/net/kyori/adventure/audience/MultiAudience.java
  api/src/main/java/net/kyori/adventure/audience/package-info.java
  api/src/test/java/net/kyori/adventure/audience/AudienceTest.java
  gradle/wrapper/gradle-wrapper.properties
Labels: enhancement

#86 add checkstyle validation, fix errors
  .checkstyle/checkstyle.xml
  .checkstyle/suppressions.xml
  .travis.sh
  api/src/main/java/net/kyori/adventure/text/AbstractComponent.java
  api/src/main/java/net/kyori/adventure/text/AbstractComponentBuilder.java
  api/src/main/java/net/kyori/adventure/text/BlockNBTComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/Component.java
  api/src/main/java/net/kyori/adventure/text/EntityNBTComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/KeybindComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/NBTComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/ScoreComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/SelectorComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/StorageNBTComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/TextComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/TranslatableComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/event/HoverEvent.java
  api/src/main/java/net/kyori/adventure/text/format/Style.java
  api/src/main/java/net/kyori/adventure/util/Listenable.java
  api/src/test/java/net/kyori/adventure/text/TextAssertions.java
  api/src/test/java/net/kyori/test/WeirdAssertions.java
  build.gradle
  nbt/src/main/java/net/kyori/adventure/nbt/CharBuffer.java
  nbt/src/main/java/net/kyori/adventure/nbt/FloatBinaryTag.java
  nbt/src/main/java/net/kyori/adventure/nbt/ListBinaryTagImpl.java
  nbt/src/main/java/net/kyori/adventure/nbt/LongArrayBinaryTagImpl.java
  nbt/src/main/java/net/kyori/adventure/nbt/ShadyPines.java
  nbt/src/main/java/net/kyori/adventure/nbt/StringTagParseException.java
  nbt/src/main/java/net/kyori/adventure/nbt/TagStringReader.java
  nbt/src/main/java/net/kyori/adventure/nbt/TagStringWriter.java
  nbt/src/main/java/net/kyori/adventure/nbt/Tokens.java
  nbt/src/test/java/net/kyori/adventure/nbt/StringIOTest.java
  text-feature-pagination/src/main/java/net/kyori/adventure/text/feature/pagination/PaginationBuilder.java
  text-feature-pagination/src/main/java/net/kyori/adventure/text/feature/pagination/PaginationImpl.java
  text-feature-pagination/src/main/java/net/kyori/adventure/text/feature/pagination/Paginator.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/GsonComponentSerializerImpl.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/IndexedSerializer.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/KeySerializer.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/StyleSerializer.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/TextColorWrapper.java
  text-serializer-gson/src/test/java/net/kyori/adventure/text/serializer/gson/GsonComponentSerializerTest.java
  text-serializer-legacy/src/main/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializer.java
  text-serializer-legacy/src/main/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializerImpl.java
  text-serializer-plain/src/main/java/net/kyori/adventure/text/serializer/plain/PlainComponentSerializer.java
Labels: enhancement

#93 Legacy hover event support
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/GsonComponentSerializer.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/GsonComponentSerializerImpl.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/LegacyHoverEventSerializer.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/StyleSerializer.java
  text-serializer-gson/src/test/java/net/kyori/adventure/text/serializer/gson/AbstractComponentTest.java
Labels: area: serialiser/gson, type: enhancement

#94 Boss bar equality based on object identity
  api/src/main/java/net/kyori/adventure/bossbar/BossBarImpl.java
Labels: area: api, type: enhancement

#82 Allow deserializing the legacy RGB format used by BungeeCord
  text-serializer-legacy/src/main/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializer.java
  text-serializer-legacy/src/main/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializerImpl.java
  text-serializer-legacy/src/test/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializerTest.java
Labels: area: serialiser/legacy, type: enhancement

#95 ComponentLike
  api/src/main/java/net/kyori/adventure/text/AbstractComponent.java
  api/src/main/java/net/kyori/adventure/text/AbstractComponentBuilder.java
  api/src/main/java/net/kyori/adventure/text/BlockNBTComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/Component.java
  api/src/main/java/net/kyori/adventure/text/ComponentBuilder.java
  api/src/main/java/net/kyori/adventure/text/ComponentLike.java
  api/src/main/java/net/kyori/adventure/text/EntityNBTComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/KeybindComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/NBTComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/ScopedComponent.java
  api/src/main/java/net/kyori/adventure/text/ScoreComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/SelectorComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/StorageNBTComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/TextComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/TranslatableComponent.java
  api/src/main/java/net/kyori/adventure/text/TranslatableComponentImpl.java
Labels: area: api, type: enhancement

#104 plain: Use static getter rather than field access to get instance
  text-serializer-plain/src/main/java/net/kyori/adventure/text/serializer/plain/PlainComponentSerializer.java
  text-serializer-plain/src/test/java/net/kyori/adventure/text/serializer/plain/PlainComponentSerializerTest.java
Labels: area: serialiser/plain, type: enhancement

#103 A few tweaks to the SNBT reader + writer
  api/src/main/java/net/kyori/adventure/nbt/api/BinaryTagHolder.java
  nbt/src/main/java/net/kyori/adventure/nbt/BinaryTagIO.java
  nbt/src/main/java/net/kyori/adventure/nbt/ByteBinaryTag.java
  nbt/src/main/java/net/kyori/adventure/nbt/TagStringIO.java
  nbt/src/main/java/net/kyori/adventure/nbt/TagStringReader.java
  nbt/src/main/java/net/kyori/adventure/nbt/TagStringWriter.java
  nbt/src/main/java/net/kyori/adventure/nbt/Tokens.java
  nbt/src/test/java/net/kyori/adventure/nbt/StringIOTest.java
Labels: area: api, area: nbt, type: enhancement

#105 Extract BlockNBTComponent position parsing from gson serializer
  api/src/main/java/net/kyori/adventure/text/BlockNBTComponent.java
  api/src/main/java/net/kyori/adventure/text/BlockNBTComponentImpl.java
  api/src/test/java/net/kyori/adventure/text/BlockNBTComponentTest.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/BlockNBTComponentPosSerializer.java
  text-serializer-gson/src/test/java/net/kyori/adventure/text/serializer/gson/BlockNBTComponentTest.java
Labels: area: api, area: serialiser/gson, type: enhancement

#106 Applicable
  api/src/main/java/net/kyori/adventure/text/event/ClickEvent.java
  api/src/main/java/net/kyori/adventure/text/event/HoverEvent.java
  api/src/main/java/net/kyori/adventure/text/format/Style.java
  api/src/main/java/net/kyori/adventure/text/format/StyleBuilderApplicable.java
  api/src/main/java/net/kyori/adventure/text/format/TextColor.java
  api/src/main/java/net/kyori/adventure/text/format/TextDecoration.java
  api/src/test/java/net/kyori/adventure/text/format/StyleTest.java
Labels: area: api, type: enhancement

#98 Improve performance of BinaryTagIO by buffering and clarify stream closing
  nbt/src/main/java/net/kyori/adventure/nbt/BinaryTagIO.java
  nbt/src/main/java/net/kyori/adventure/nbt/IOStreamUtil.java
Labels: area: nbt, type: enhancement

#109 Fix regression in #82 with a single chat component from the main logic loop
  text-serializer-legacy/src/main/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializerImpl.java
  text-serializer-legacy/src/test/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializerTest.java
  text-serializer-legacy/src/test/java/net/kyori/adventure/text/serializer/legacy/LinkingLegacyComponentSerializerTest.java
Labels: area: serialiser/legacy, type: bug

#111 Don't use streams when checking validity of namespace and value
  api/src/main/java/net/kyori/adventure/key/KeyImpl.java
Labels: area: api, type: enhancement

#107 Correctly handle resets followed by more styling
  text-serializer-legacy/src/main/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializerImpl.java
  text-serializer-legacy/src/test/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializerTest.java
  text-serializer-legacy/src/test/java/net/kyori/adventure/text/serializer/legacy/LinkingLegacyComponentSerializerTest.java
Labels: area: serialiser/legacy

#102 Introduce translation key framework
  api/src/main/java/net/kyori/adventure/key/InvalidKeyException.java
  api/src/main/java/net/kyori/adventure/key/Key.java
  api/src/main/java/net/kyori/adventure/key/KeyImpl.java
  api/src/main/java/net/kyori/adventure/text/renderer/TranslatableComponentRenderer.java
  api/src/main/java/net/kyori/adventure/translation/TranslationRegistry.java
  api/src/main/java/net/kyori/adventure/translation/TranslationRegistryImpl.java
  api/src/main/java/net/kyori/adventure/translation/TranslationSource.java
  api/src/main/java/net/kyori/adventure/util/UTF8ResourceBundleControl.java
  api/src/test/java/net/kyori/adventure/key/KeyTest.java
  api/src/test/java/net/kyori/adventure/translation/TranslationRegistryTest.java
  api/src/test/resources/en-US.properties
Labels: area: api, type: enhancement

#117 api: Fix rendering args and children of an unknown translatable component
  api/src/main/java/net/kyori/adventure/text/renderer/TranslatableComponentRenderer.java
  api/src/test/java/net/kyori/adventure/translation/TranslationRegistryTest.java
Labels: area: api, type: bug
