Repository KyoriPowered/adventure, pull requests merged in 2021-05, with the labels that each got.

#355 Component serializer typo
  api/src/main/java/net/kyori/adventure/text/serializer/ComponentSerializer.java
Labels: area: api, type: bug

#360 Annotate more deprecated methods with `ScheduledForRemoval`
  api/src/main/java/net/kyori/adventure/bossbar/BossBar.java
  api/src/main/java/net/kyori/adventure/text/Component.java
Labels: area: api, type: enhancement

#364 api: Add contains method that allows alternative methods of equality comparison
  api/src/main/java/net/kyori/adventure/text/Component.java
  api/src/test/java/net/kyori/adventure/text/TextComponentTest.java
Labels: area: api, type: bug

#371 key: Improve key method javadocs
  key/src/main/java/net/kyori/adventure/key/Key.java
Labels: area: api, type: enhancement

#362 api: Make contains check for entity name
  api/src/main/java/net/kyori/adventure/text/Component.java
  api/src/test/java/net/kyori/adventure/text/ComponentContainsTest.java
  api/src/test/java/net/kyori/adventure/text/TextComponentTest.java
Labels: area: api, type: bug

#391 api: Extract style mergers
  api/src/main/java/net/kyori/adventure/text/format/AlwaysMerger.java
  api/src/main/java/net/kyori/adventure/text/format/IfAbsentOnTargetMerger.java
  api/src/main/java/net/kyori/adventure/text/format/Merger.java
  api/src/main/java/net/kyori/adventure/text/format/StyleImpl.java
Labels: area: api, type: enhancement

#393 api: Add Pointer query to Single
  api/src/main/java/net/kyori/adventure/audience/ForwardingAudience.java
Labels: area: api, type: bug

#361 api: Add Translatable interface
  api/src/main/java/net/kyori/adventure/text/Component.java
  api/src/main/java/net/kyori/adventure/text/TranslatableComponent.java
  api/src/main/java/net/kyori/adventure/translation/Translatable.java
Labels: area: api, type: enhancement

#343 ComponentSerializer services
  api/src/main/java/net/kyori/adventure/util/Services.java
  api/src/main/java/net/kyori/adventure/util/Services0.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/GsonComponentSerializer.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/GsonComponentSerializerImpl.java
  text-serializer-legacy/src/main/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializer.java
  text-serializer-legacy/src/main/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializerImpl.java
  text-serializer-plain/src/main/java/net/kyori/adventure/text/serializer/plain/PlainComponentSerializer.java
  text-serializer-plain/src/main/java/net/kyori/adventure/text/serializer/plain/PlainComponentSerializerImpl.java
  text-serializer-plain/src/main/java/net/kyori/adventure/text/serializer/plain/PlainTextComponentSerializer.java
  text-serializer-plain/src/main/java/net/kyori/adventure/text/serializer/plain/PlainTextComponentSerializerImpl.java
  text-serializer-plain/src/test/java/net/kyori/adventure/text/serializer/plain/PlainTextComponentSerializerTest.java
Labels: area: api, area: text-serialiser/gson, area: text-serialiser/legacy, area: text-serialiser/plain, type: enhancement
