Repository KyoriPowered/adventure, pull requests merged in 2021-03, with the labels that each got.

#289 api: Add a method to create a TextColor from an HSVLike
  api/src/main/java/net/kyori/adventure/text/format/TextColor.java
  api/src/test/java/net/kyori/adventure/util/HSVLikeTest.java
Labels: area: api, type: enhancement

#291 text-serializer-legacy: wip on removing redundant resets while also preserving supplied resets
  text-serializer-legacy/src/main/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializerImpl.java
  text-serializer-legacy/src/test/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializerTest.java
Labels: area: text-serialiser/legacy

#292 api: Add methods to join components using a collector
  api/src/main/java/net/kyori/adventure/text/AbstractComponentBuilder.java
  api/src/main/java/net/kyori/adventure/text/Component.java
  api/src/main/java/net/kyori/adventure/text/ComponentBuilder.java
  api/src/test/java/net/kyori/adventure/text/AbstractComponentTest.java
Labels: area: api

#294 build: Update examination to 1.1.0
  api/build.gradle
  key/build.gradle
  nbt/build.gradle
Labels: area: api, area: key, area: nbt, dependencies, type: enhancement

#283 extra-kotlin
  .gitignore
  extra-kotlin/build.gradle
  extra-kotlin/src/main/kotlin/net/kyori/adventure/extra/kotlin/ComponentDSL.kt
  extra-kotlin/src/main/kotlin/net/kyori/adventure/extra/kotlin/ComponentExtensions.kt
  extra-kotlin/src/main/kotlin/net/kyori/adventure/extra/kotlin/RGBLikeExtensions.kt
  extra-kotlin/src/main/kotlin/net/kyori/adventure/extra/kotlin/StyleDSL.kt
  settings.gradle
Labels: type: enhancement

#231 Customize Debugger Output
  api/src/main/java/net/kyori/adventure/text/AbstractComponent.java
  api/src/main/java/net/kyori/adventure/text/BlockNBTComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/EntityNBTComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/KeybindComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/NBTComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/ScoreComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/SelectorComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/StorageNBTComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/TextComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/TranslatableComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/format/TextColorImpl.java
  nbt/build.gradle
  nbt/src/main/java/net/kyori/adventure/nbt/ByteArrayBinaryTagImpl.java
  nbt/src/main/java/net/kyori/adventure/nbt/ByteBinaryTag.java
  nbt/src/main/java/net/kyori/adventure/nbt/CompoundBinaryTagImpl.java
  nbt/src/main/java/net/kyori/adventure/nbt/DoubleBinaryTag.java
  nbt/src/main/java/net/kyori/adventure/nbt/FloatBinaryTag.java
  nbt/src/main/java/net/kyori/adventure/nbt/IntArrayBinaryTagImpl.java
  nbt/src/main/java/net/kyori/adventure/nbt/IntBinaryTag.java
  nbt/src/main/java/net/kyori/adventure/nbt/ListBinaryTagImpl.java
  nbt/src/main/java/net/kyori/adventure/nbt/LongArrayBinaryTagImpl.java
  nbt/src/main/java/net/kyori/adventure/nbt/LongBinaryTag.java
  nbt/src/main/java/net/kyori/adventure/nbt/ShortBinaryTag.java
  nbt/src/main/java/net/kyori/adventure/nbt/StringBinaryTag.java
Labels: area: api, area: nbt, type: enhancement

#297 fix missed text-serializer-gson-legacy-impl in bom
  bom/build.gradle
  build.gradle
Labels: type: bug

#299 text-serializer-legacy: tweak reset behavior AGAIN
  text-serializer-legacy/src/main/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializerImpl.java
  text-serializer-legacy/src/test/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializerTest.java
Labels: area: text-serialiser/legacy, type: bug

#301 api: Mark ScoreComponent's value as deprecated since it is no longer supported
  api/src/main/java/net/kyori/adventure/text/Component.java
  api/src/main/java/net/kyori/adventure/text/ScoreComponent.java
  api/src/main/java/net/kyori/adventure/text/ScoreComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/renderer/TranslatableComponentRenderer.java
  api/src/test/java/net/kyori/adventure/text/ScoreComponentTest.java
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/ComponentTypeSerializer.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/ComponentTypeSerializer.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/ComponentSerializerImpl.java
  text-serializer-plain/src/main/java/net/kyori/adventure/text/serializer/plain/PlainComponentSerializer.java
Labels: area: api

#304 Fixed typo in documentation in Title
  api/src/main/java/net/kyori/adventure/title/Title.java
Labels: area: api

#259 API addition for translations
  api/src/main/java/net/kyori/adventure/translation/TranslationRegistry.java
  api/src/main/java/net/kyori/adventure/translation/TranslationRegistryImpl.java
Labels: area: api, type: enhancement

#305 api: Add serializer methods that will process null values
  api/src/main/java/net/kyori/adventure/text/serializer/ComponentSerializer.java
Labels: area: api, type: enhancement

#300 api: Nag when somebody does something naughty
  api/src/main/java/net/kyori/adventure/text/LegacyFormattingDetected.java
  api/src/main/java/net/kyori/adventure/text/TextComponentImpl.java
  api/src/main/java/net/kyori/adventure/util/Nag.java
Labels: area: api, type: enhancement

#306 build: Add extra metadata to jar manifests
  api/build.gradle
  bom/build.gradle
  build.gradle
  extra-kotlin/build.gradle
  key/build.gradle
  nbt/build.gradle
  serializer-configurate3/build.gradle
  serializer-configurate4/build.gradle
  text-serializer-gson-legacy-impl/build.gradle
  text-serializer-gson/build.gradle
  text-serializer-legacy/build.gradle
  text-serializer-plain/build.gradle
Labels: type: enhancement

#307 api: Deprecate Component#detectCycle
  api/src/main/java/net/kyori/adventure/text/Component.java
  api/src/main/java/net/kyori/adventure/text/ScopedComponent.java
  api/src/test/java/net/kyori/adventure/text/AbstractComponentTest.java
Labels: area: api, type: bug

#302 api: Introduce new concept of a component flattener
  api/src/main/java/net/kyori/adventure/text/flattener/ComponentFlattener.java
  api/src/main/java/net/kyori/adventure/text/flattener/ComponentFlattenerImpl.java
  api/src/main/java/net/kyori/adventure/text/flattener/FlattenerListener.java
  api/src/test/java/net/kyori/adventure/text/flattener/ComponentFlattenerTest.java
  text-serializer-legacy/src/main/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializer.java
  text-serializer-legacy/src/main/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializerImpl.java
  text-serializer-plain/src/main/java/net/kyori/adventure/text/serializer/plain/PlainComponentSerializer.java
  text-serializer-plain/src/main/java/net/kyori/adventure/text/serializer/plain/PlainComponentSerializerImpl.java
Labels: area: api, area: text-serialiser/legacy, area: text-serialiser/plain
