Repository KyoriPowered/adventure, pull requests merged in 2021-09, with the labels that each got.

#426 api: Add Locale pointer
  api/src/main/java/net/kyori/adventure/identity/Identity.java
Labels: type: enhancement, area: api

#344 api: Advanced Component joining
  api/src/main/java/net/kyori/adventure/text/Component.java
  api/src/main/java/net/kyori/adventure/text/JoinConfiguration.java
  api/src/main/java/net/kyori/adventure/text/JoinConfigurationImpl.java
  api/src/main/java/net/kyori/adventure/text/TextComponent.java
  api/src/test/java/net/kyori/adventure/text/JoinTest.java
  api/src/test/java/net/kyori/adventure/text/TextComponentTest.java
  text-serializer-legacy/src/main/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializerImpl.java
Labels: type: enhancement, area: api

#339 api: Component iterator
  api/src/main/java/net/kyori/adventure/text/Component.java
  api/src/main/java/net/kyori/adventure/text/ComponentIterator.java
  api/src/main/java/net/kyori/adventure/text/ComponentIteratorFlag.java
  api/src/main/java/net/kyori/adventure/text/ComponentIteratorType.java
  api/src/main/java/net/kyori/adventure/util/ForwardingIterator.java
  api/src/test/java/net/kyori/adventure/text/ComponentIteratorTest.java
Labels: type: enhancement, area: api

#365 api: `Audience#foreach` and `Audience#filter`
  api/src/main/java/net/kyori/adventure/audience/Audience.java
  api/src/main/java/net/kyori/adventure/audience/EmptyAudience.java
  api/src/main/java/net/kyori/adventure/audience/ForwardingAudience.java
  api/src/test/java/net/kyori/adventure/audience/AudienceTest.java
Labels: type: enhancement, area: api

#439 api: Be more strict about validating nullness of appended components
  api/src/main/java/net/kyori/adventure/text/AbstractComponentBuilder.java
  api/src/main/java/net/kyori/adventure/text/ScopedComponent.java
Labels: type: bug, area: api

#440 api: Don't override Pointered methods that just delegate
  api/src/main/java/net/kyori/adventure/audience/ForwardingAudience.java
Labels: type: enhancement, area: api

#452 Fix reading of trailing comma in nbt list/array/compound
  nbt/src/main/java/net/kyori/adventure/nbt/TagStringReader.java
  nbt/src/test/java/net/kyori/adventure/nbt/StringIOTest.java
Labels: type: bug, area: nbt

#449 api: Rename Title.Times.of
  api/src/main/java/net/kyori/adventure/title/Title.java
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/TitleSerializer.java
  serializer-configurate3/src/test/java/net/kyori/adventure/serializer/configurate3/TitleSerializerTest.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/TitleSerializer.java
  serializer-configurate4/src/test/java/net/kyori/adventure/serializer/configurate4/TitleSerializerTest.java
Labels: type: enhancement, area: api

#451 api: Add inVersion to all @ApiStatus.ScheduledForRemoval annotations
  api/src/main/java/net/kyori/adventure/bossbar/BossBar.java
  api/src/main/java/net/kyori/adventure/text/Component.java
  api/src/main/java/net/kyori/adventure/text/TextComponent.java
  api/src/main/java/net/kyori/adventure/text/serializer/ComponentSerializer.java
  api/src/main/java/net/kyori/adventure/util/ShadyPines.java
  text-serializer-plain/src/main/java/net/kyori/adventure/text/serializer/plain/PlainComponentSerializer.java
Labels: type: enhancement
