Repository KyoriPowered/adventure, pull requests merged in 2021-02, with the labels that each got.

#279 text-serializer-legacy: Vanilla implementation for URL conversion
  text-serializer-legacy/src/main/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializerImpl.java
  text-serializer-legacy/src/test/java/net/kyori/adventure/text/serializer/legacy/LinkingLegacyComponentSerializerTest.java
Labels: area: text-serialiser/legacy, type: bug

#282 few fixes, see commits for details
  api/src/main/java/net/kyori/adventure/text/format/TextColor.java
  api/src/test/java/net/kyori/adventure/text/format/TextColorTest.java
  text-serializer-legacy/src/main/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializerImpl.java
  text-serializer-legacy/src/test/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializerTest.java
Labels: area: api, area: text-serialiser/legacy, type: bug

#273 feature(nbt): allow merging compound tags via 'this.put(that)'
  nbt/src/main/java/net/kyori/adventure/nbt/CompoundBinaryTagImpl.java
  nbt/src/main/java/net/kyori/adventure/nbt/CompoundTagBuilder.java
  nbt/src/main/java/net/kyori/adventure/nbt/CompoundTagSetter.java
Labels: area: nbt, type: enhancement

#284 Added ZLIB compression support for NBT
  nbt/src/main/java/net/kyori/adventure/nbt/BinaryTagIO.java
  nbt/src/test/java/net/kyori/adventure/nbt/BinaryTagIOTest.java
Labels: area: nbt, type: enhancement

#288 api: Add Keyed overloads to hover event types
  api/src/main/java/net/kyori/adventure/text/event/HoverEvent.java
Labels: area: api, type: enhancement
