Repository KyoriPowered/adventure, pull requests merged in 2021-11, with the labels that each got.

#484 Add Java Docs to the Readme
  readme.md
Labels: type: documentation

#493 Fix accidental float and double NaN parsing
  nbt/src/main/java/net/kyori/adventure/nbt/TagStringReader.java
  nbt/src/test/java/net/kyori/adventure/nbt/StringIOTest.java
Labels: area: nbt

#497 Fix premature SNBT parsing as number
  nbt/src/main/java/net/kyori/adventure/nbt/TagStringReader.java
  nbt/src/test/java/net/kyori/adventure/nbt/StringIOTest.java
Labels: area: nbt

#498 Fix unquoted string being parsed as double
  nbt/src/main/java/net/kyori/adventure/nbt/TagStringReader.java
  nbt/src/test/java/net/kyori/adventure/nbt/StringIOTest.java
Labels: type: bug, area: nbt

#494 docs: Add missing dot in TranslatableComponent example
  api/src/main/java/net/kyori/adventure/text/TranslatableComponent.java
Labels: area: api

#495 Add Tristate method to TextDecoration.State
  api/src/main/java/net/kyori/adventure/text/format/TextDecoration.java
  api/src/test/java/net/kyori/adventure/text/format/TextDecorationTest.java
Labels: type: enhancement, area: api

#482 Add standard join configurations
  api/src/main/java/net/kyori/adventure/text/JoinConfiguration.java
  api/src/main/java/net/kyori/adventure/text/JoinConfigurationImpl.java
  api/src/test/java/net/kyori/adventure/text/JoinTest.java
Labels: type: enhancement, area: api

#506 Use switch statement instead of if-else in NamedTextColor#ofExact
  api/src/main/java/net/kyori/adventure/text/format/NamedTextColor.java
Labels: type: enhancement, area: api
