Repository KyoriPowered/adventure, pull requests merged in 2021-06, with the labels that each got.

#395 build: Migrate build scripts to Kotlin DSL
  .gitignore
  api/build.gradle.kts
  bom/build.gradle.kts
  build-logic/build.gradle.kts
  build-logic/src/main/kotlin/adventure.base-conventions.gradle.kts
  build-logic/src/main/kotlin/adventure.common-conventions.gradle.kts
  build-logic/src/main/kotlin/adventure.parent-build-logic.gradle.kts
  build-logic/src/main/kotlin/extensions.kt
  build.gradle
  build.gradle.kts
  extra-kotlin/build.gradle
  extra-kotlin/build.gradle.kts
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  key/build.gradle.kts
  nbt/build.gradle.kts
  serializer-configurate3/build.gradle.kts
  serializer-configurate4/build.gradle.kts
  settings.gradle
  settings.gradle.kts
  text-serializer-gson-legacy-impl/build.gradle.kts
  text-serializer-gson/build.gradle.kts
  text-serializer-legacy/build.gradle
  text-serializer-legacy/build.gradle.kts
  text-serializer-plain/build.gradle
  text-serializer-plain/build.gradle.kts
Labels: area: api, area: key, area: nbt, area: serialiser/configurate3, area: serialiser/configurate4, area: text-serialiser/gson, area: text-serialiser/legacy, area: text-serialiser/plain, type: enhancement

#379 feat(api/text) #378: ability to unset decorations during component construction
  api/src/main/java/net/kyori/adventure/text/format/TextDecoration.java
  api/src/main/java/net/kyori/adventure/text/format/TextDecorationAndState.java
  api/src/main/java/net/kyori/adventure/text/format/TextDecorationAndStateImpl.java
  api/src/test/java/net/kyori/adventure/text/format/StyleTest.java
Labels: area: api, type: enhancement

#334 Minecraft 1.17
  api/src/main/java/net/kyori/adventure/text/BlockNBTComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/Component.java
  api/src/main/java/net/kyori/adventure/text/ComponentLike.java
  api/src/main/java/net/kyori/adventure/text/EntityNBTComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/NBTComponent.java
  api/src/main/java/net/kyori/adventure/text/NBTComponentBuilder.java
  api/src/main/java/net/kyori/adventure/text/NBTComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/SelectorComponent.java
  api/src/main/java/net/kyori/adventure/text/SelectorComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/StorageNBTComponentImpl.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/ComponentSerializerImpl.java
Labels: area: api, area: text-serialiser/gson, type: enhancement

#380 Add missing package-info and relevant checkstyle rule
  .checkstyle/checkstyle.xml
  .checkstyle/suppressions.xml
  api/src/main/java/net/kyori/adventure/identity/package-info.java
  api/src/main/java/net/kyori/adventure/nbt/api/package-info.java
  api/src/main/java/net/kyori/adventure/permission/package-info.java
  api/src/main/java/net/kyori/adventure/pointer/package-info.java
  api/src/main/java/net/kyori/adventure/text/event/package-info.java
  api/src/main/java/net/kyori/adventure/text/flattener/package-info.java
  api/src/main/java/net/kyori/adventure/text/format/package-info.java
  api/src/main/java/net/kyori/adventure/text/package-info.java
  api/src/main/java/net/kyori/adventure/text/renderer/package-info.java
  api/src/main/java/net/kyori/adventure/text/serializer/package-info.java
  api/src/main/java/net/kyori/adventure/title/package-info.java
  api/src/main/java/net/kyori/adventure/translation/package-info.java
  api/src/main/java/net/kyori/adventure/util/package-info.java
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/package-info.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/package-info.java
  text-serializer-gson-legacy-impl/src/main/java/net/kyori/adventure/text/serializer/gson/legacyimpl/package-info.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/StyleSerializer.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/package-info.java
  text-serializer-legacy/src/main/java/net/kyori/adventure/text/serializer/legacy/package-info.java
  text-serializer-plain/src/main/java/net/kyori/adventure/text/serializer/plain/package-info.java
Labels: area: api, area: serialiser/configurate3, area: serialiser/configurate4, area: text-serialiser/gson, area: text-serialiser/legacy, area: text-serialiser/plain, type: enhancement

#400 build: Apply contract-validator to ensure contract annotations are syntactically valid
  build-logic/src/main/kotlin/adventure.common-conventions.gradle.kts
Labels: area: api, area: key, area: nbt

#329 api: More ways to stop sound
  api/src/main/java/net/kyori/adventure/audience/Audience.java
  api/src/main/java/net/kyori/adventure/sound/Sound.java
  api/src/main/java/net/kyori/adventure/sound/SoundImpl.java
Labels: area: api, type: enhancement

#316 api: Add support for playing sound with an "emitter"
  api/src/main/java/net/kyori/adventure/audience/Audience.java
  api/src/main/java/net/kyori/adventure/audience/ForwardingAudience.java
  api/src/main/java/net/kyori/adventure/sound/Sound.java
  api/src/main/java/net/kyori/adventure/sound/SoundImpl.java
Labels: area: api, type: enhancement

#215 api: TextColor.lerp
  api/src/main/java/net/kyori/adventure/text/format/TextColor.java
  api/src/test/java/net/kyori/adventure/text/format/TextColorTest.java
Labels: area: api, type: enhancement

#407 api: Make sure pointers() is overridden in ForwardingAudience.Single
  api/src/main/java/net/kyori/adventure/audience/ForwardingAudience.java
Labels: area: api, type: enhancement
