Repository KyoriPowered/adventure, pull requests merged in 2021-12, with the labels that each got.

#481 fix #447 by allowing deserializeOr to return null
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/GsonComponentSerializerImpl.java
  text-serializer-gson/src/test/java/net/kyori/adventure/text/serializer/gson/GsonComponentSerializerTest.java
Labels: area: text-serialiser/gson, hacktoberfest-accepted

#623 text-minimessage: Reduce the API surface of the parse context a little bit
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/Context.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/ContextImpl.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/MiniMessageImpl.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/MiniMessageParser.java
Labels: area: text-minimessage

#490 api: add TextDecoration#withState and add missing null pointer check
  api/src/main/java/net/kyori/adventure/text/format/TextDecoration.java
  api/src/main/java/net/kyori/adventure/text/format/TextDecorationAndStateImpl.java
  api/src/test/java/net/kyori/adventure/text/format/StyleTest.java
  api/src/test/java/net/kyori/adventure/text/format/TextDecorationTest.java
Labels: type: enhancement, area: api

#474 Clarify Audience#filterAudience(Predicate) docs
  api/src/main/java/net/kyori/adventure/audience/Audience.java
Labels: type: enhancement, area: api

#485 Add more non-null value validations
  api/src/main/java/net/kyori/adventure/text/AbstractComponentBuilder.java
  api/src/main/java/net/kyori/adventure/text/BlockNBTComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/Component.java
  api/src/main/java/net/kyori/adventure/text/ComponentLike.java
  api/src/main/java/net/kyori/adventure/text/EntityNBTComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/KeybindComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/NBTComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/ScoreComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/SelectorComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/StorageNBTComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/TextComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/TranslatableComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/format/Style.java
  api/src/main/java/net/kyori/adventure/text/format/StyleImpl.java
  api/src/main/java/net/kyori/adventure/title/TitleImpl.java
Labels: type: enhancement, area: api

#633 api: Resolve duplication of children when performing text replacement
  api/src/main/java/net/kyori/adventure/text/TextReplacementRenderer.java
  api/src/test/java/net/kyori/adventure/text/TextAssertions.java
  api/src/test/java/net/kyori/adventure/text/TextReplacementRendererTest.java
Labels: type: bug, area: api

#501 Abstract out style methods to StyleWriter/Reader
  api/src/main/java/net/kyori/adventure/text/Component.java
  api/src/main/java/net/kyori/adventure/text/ComponentBuilder.java
  api/src/main/java/net/kyori/adventure/text/format/MutableStyleSetter.java
  api/src/main/java/net/kyori/adventure/text/format/Style.java
  api/src/main/java/net/kyori/adventure/text/format/StyleGetter.java
  api/src/main/java/net/kyori/adventure/text/format/StyleImpl.java
  api/src/main/java/net/kyori/adventure/text/format/StyleSetter.java
Labels: type: enhancement, area: api

#635 text-minimessage: Properly handle colour override depth reductions
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/transformation/inbuild/GradientTransformation.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/MiniMessageParserTest.java
Labels: area: text-minimessage

#642 Add tests for Title and Title.Times
  api/src/main/java/net/kyori/adventure/title/TitleImpl.java
  api/src/test/java/net/kyori/adventure/text/title/TitleTest.java
  api/src/test/java/net/kyori/adventure/text/title/TitleTimesTest.java
  api/src/test/java/net/kyori/test/EqualityAssertions.java
Labels: type: enhancement, area: api

#641 api: Use initial style when replacement-rendering a hover event
  api/src/main/java/net/kyori/adventure/text/TextReplacementRenderer.java
  api/src/test/java/net/kyori/adventure/text/TextReplacementRendererTest.java
Labels: type: bug, area: api

#645 feat(key): expose a Comparator for Key
  key/src/main/java/net/kyori/adventure/key/Key.java
  key/src/main/java/net/kyori/adventure/key/KeyImpl.java
  key/src/test/java/net/kyori/adventure/key/KeyTest.java
Labels: type: enhancement, area: key

#617 api: Introduce Component.textOfChildren as a replacement for TextComponent.ofChildren
  api/src/main/java/net/kyori/adventure/text/Component.java
  api/src/main/java/net/kyori/adventure/text/TextComponent.java
  api/src/test/java/net/kyori/adventure/text/TextComponentTest.java
Labels: type: enhancement, area: api

#639 Remove the tokens class
  .gitignore
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/MiniMessageParser.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/MiniMessageSerializer.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/Tokens.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/parser/TokenParser.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/transformation/TransformationType.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/transformation/inbuild/ClickTransformation.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/transformation/inbuild/ColorTransformation.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/transformation/inbuild/DecorationTransformation.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/transformation/inbuild/FontTransformation.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/transformation/inbuild/GradientTransformation.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/transformation/inbuild/HoverTransformation.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/transformation/inbuild/InsertionTransformation.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/transformation/inbuild/KeybindTransformation.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/transformation/inbuild/RainbowTransformation.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/transformation/inbuild/TranslatableTransformation.java
Labels: type: enhancement, area: text-minimessage
