Repository KyoriPowered/adventure, pull requests merged in 2022-05, with the labels that each got.

#764 Improve compaction of empty/blank TextComponents
  api/src/main/java/net/kyori/adventure/text/ComponentCompaction.java
  api/src/test/java/net/kyori/adventure/text/ComponentCompactingTest.java
Labels: type: enhancement, area: api

#461 StyleImpl DRY (#392)
  api/src/main/java/net/kyori/adventure/text/format/DecorationMap.java
  api/src/main/java/net/kyori/adventure/text/format/Style.java
  api/src/main/java/net/kyori/adventure/text/format/StyleImpl.java
Labels: type: enhancement, area: api

#709 text-minimessage: Add Placeholder to format Numbers and TemporalAccessors
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/resolver/Formatter.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/tag/FormatterTest.java
Labels: type: enhancement, area: text-minimessage

#771 text-minimessage: Validate tag names in resolver builder
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/resolver/TagResolverBuilderImpl.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/tag/TagResolverTest.java
Labels: type: bug, area: text-minimessage
