Repository KyoriPowered/adventure, pull requests merged in 2022-03, with the labels that each got.

#723 minimessage: Ignore invalid tags when parsing
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/internal/TagInternals.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/internal/parser/TokenParser.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/internal/parser/match/StringResolvingMatchedTokenConsumer.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/internal/parser/node/TagNode.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/internal/serializer/SerializableResolver.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/resolver/TagResolver.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/MiniMessageParserTest.java
Labels: type: bug, area: text-minimessage

#727 text-minimessage: Add stacktraces and more detail to legacy errors
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/ContextImpl.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/internal/parser/ParsingExceptionImpl.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/internal/parser/TokenParser.java
Labels: type: enhancement, area: text-minimessage

#730 Move to version catalogs and properties-based configuration
  .lift.toml
  api/build.gradle.kts
  build-logic/build.gradle.kts
  build-logic/settings.gradle.kts
  build-logic/src/main/kotlin/adventure.base-conventions.gradle.kts
  build-logic/src/main/kotlin/adventure.common-conventions.gradle.kts
  build-logic/src/main/kotlin/adventure.parent-build-logic.gradle.kts
  build.gradle.kts
  extra-kotlin/build.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  key/build.gradle.kts
  nbt/build.gradle.kts
  serializer-configurate3/build.gradle.kts
  serializer-configurate4/build.gradle.kts
  settings.gradle.kts
  text-minimessage/build.gradle.kts
  text-serializer-gson-legacy-impl/build.gradle.kts
  text-serializer-gson/build.gradle.kts
  text-serializer-legacy/build.gradle.kts
  text-serializer-plain/build.gradle.kts
Labels: type: enhancement, type: dependencies
