Repository KyoriPowered/adventure, pull requests merged in 2022-04, with the labels that each got.

#741 Add orThrow and orDefault methods to Index
  api/src/main/java/net/kyori/adventure/util/Index.java
  api/src/test/java/net/kyori/adventure/util/IndexTest.java
Labels: type: enhancement, area: api

#735 MiniMessage: Handle arguments for PreProcessTags correctly
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/internal/parser/match/StringResolvingMatchedTokenConsumer.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/PreProcess.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/tag/PreProcessTagTest.java
Labels: type: bug, area: text-minimessage

#756 *: Introduce error-prone for static analysis
  api/src/main/java/net/kyori/adventure/bossbar/BossBarImpl.java
  api/src/main/java/net/kyori/adventure/internal/properties/AdventurePropertiesImpl.java
  api/src/main/java/net/kyori/adventure/text/TextReplacementConfig.java
  api/src/main/java/net/kyori/adventure/text/flattener/ComponentFlattenerImpl.java
  api/src/main/java/net/kyori/adventure/text/format/StyleBuilderApplicable.java
  api/src/main/java/net/kyori/adventure/text/renderer/TranslatableComponentRenderer.java
  api/src/main/java/net/kyori/adventure/title/TitleImpl.java
  api/src/main/java/net/kyori/adventure/translation/TranslationRegistry.java
  api/src/test/java/net/kyori/adventure/text/title/TitleTimesTest.java
  build-logic/build.gradle.kts
  build-logic/src/main/kotlin/adventure.common-conventions.gradle.kts
  gradle/libs.versions.toml
  key/src/main/java/net/kyori/adventure/key/Key.java
  key/src/main/java/net/kyori/adventure/key/KeyImpl.java
  nbt/src/main/java/net/kyori/adventure/nbt/BinaryTagType.java
  nbt/src/main/java/net/kyori/adventure/nbt/BinaryTagTypes.java
  nbt/src/main/java/net/kyori/adventure/nbt/TagStringReader.java
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/ComponentTypeSerializer.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/ComponentTypeSerializer.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/internal/parser/ParsingExceptionImpl.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/internal/parser/TokenParser.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/internal/parser/node/TextNode.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/resolver/TagResolverBuilderImpl.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/tag/PreProcessTagTest.java
  text-serializer-gson/src/test/java/net/kyori/adventure/text/serializer/gson/TextComponentTest.java
  text-serializer-legacy/src/main/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializerImpl.java
Labels: type: bug, type: enhancement

#653 feat(api): Add possibility of using Component#join with a root style
  api/src/main/java/net/kyori/adventure/text/JoinConfiguration.java
  api/src/main/java/net/kyori/adventure/text/JoinConfigurationImpl.java
  api/src/test/java/net/kyori/adventure/text/JoinTest.java
Labels: type: enhancement, area: api

#751 fix: Fixed TagResolvers equality
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/resolver/CachingTagResolver.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/resolver/MapTagResolver.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/resolver/SequentialTagResolver.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/tag/TagResolverTest.java
Labels: type: enhancement, area: text-minimessage
