Repository KyoriPowered/adventure, pull requests merged in 2022-01, with the labels that each got.

#663 chore: Remove parse method
  text-minimessage/src/jmh/java/net/kyori/adventure/text/minimessage/benchmark/MiniMessageBenchmark.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/MiniMessage.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/MiniMessageParserTest.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/MiniMessageSerializerTest.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/MiniMessageTest.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/TestBase.java
Labels: area: text-minimessage

#657 Introduce a method by which to create raw replacements.
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/placeholder/Placeholder.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/placeholder/Replacement.java
Labels: type: enhancement, area: text-minimessage

#665 text-minimessage: Add a builder for PlaceholderResolvers
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/placeholder/PlaceholderResolver.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/placeholder/PlaceholderResolverBuilderImpl.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/PlaceholderResolverTest.java
Labels: type: enhancement, area: text-minimessage

#652 chore: Rename some static constructer methods
  api/src/main/java/net/kyori/adventure/nbt/api/BinaryTagHolder.java
  api/src/main/java/net/kyori/adventure/text/BlockNBTComponent.java
  api/src/main/java/net/kyori/adventure/text/Component.java
  api/src/main/java/net/kyori/adventure/text/ComponentBuilder.java
  api/src/main/java/net/kyori/adventure/text/format/NamedTextColor.java
  api/src/main/java/net/kyori/adventure/text/format/Style.java
  api/src/main/java/net/kyori/adventure/text/format/TextColor.java
  api/src/main/java/net/kyori/adventure/text/renderer/TranslatableComponentRenderer.java
  api/src/main/java/net/kyori/adventure/translation/GlobalTranslator.java
  api/src/main/java/net/kyori/adventure/util/Codec.java
  api/src/main/java/net/kyori/adventure/util/HSVLike.java
  api/src/test/java/net/kyori/adventure/text/BlockNBTComponentTest.java
  api/src/test/java/net/kyori/adventure/text/format/StyleTest.java
  api/src/test/java/net/kyori/adventure/translation/GlobalTranslatorTest.java
  api/src/test/java/net/kyori/adventure/util/HSVLikeTest.java
  key/src/main/java/net/kyori/adventure/key/KeyedValue.java
  key/src/test/java/net/kyori/adventure/key/KeyedValueTest.java
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/HoverEventShowItemSerializer.java
  serializer-configurate3/src/test/java/net/kyori/adventure/serializer/configurate3/HoverEventSerializersTest.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/HoverEventShowItemSerializer.java
  serializer-configurate4/src/test/java/net/kyori/adventure/serializer/configurate4/HoverEventSerializersTest.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/transformation/inbuild/HoverTransformation.java
  text-serializer-gson-legacy-impl/src/main/java/net/kyori/adventure/text/serializer/gson/legacyimpl/NBTLegacyHoverEventSerializerImpl.java
  text-serializer-gson/src/jmh/java/net/kyori/adventure/text/serializer/gson/ComponentDeserializationBenchmark.java
  text-serializer-gson/src/jmh/java/net/kyori/adventure/text/serializer/gson/ComponentSerializationBenchmark.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/ShowItemSerializer.java
  text-serializer-gson/src/test/java/net/kyori/adventure/text/serializer/gson/ShowItemSerializerTest.java
Labels: type: enhancement, area: api
