Repository KyoriPowered/adventure, pull requests merged in 2022-06, with the labels that each got.

#749 Implement MiniMessage preprocessor and cleanup parsing
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/ContextImpl.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/MiniMessage.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/MiniMessageImpl.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/MiniMessageParser.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/AbstractTest.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/MiniMessageTest.java
Labels: type: enhancement, area: text-minimessage

#737 feat(minimessage): selector tag
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/SelectorTag.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/StandardTags.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/tag/standard/SelectorTagTest.java
Labels: type: enhancement, area: text-minimessage

#757 text-logger-slf4j: introduce wrapper for formatted logging
  .checkstyle/suppressions.xml
  bom/build.gradle.kts
  gradle/libs.versions.toml
  settings.gradle.kts
  text-logger-slf4j/build.gradle.kts
  text-logger-slf4j/src/main/java/net/kyori/adventure/text/logger/slf4j/CallerClassFinder.java
  text-logger-slf4j/src/main/java/net/kyori/adventure/text/logger/slf4j/ComponentLogger.java
  text-logger-slf4j/src/main/java/net/kyori/adventure/text/logger/slf4j/ComponentLoggerProvider.java
  text-logger-slf4j/src/main/java/net/kyori/adventure/text/logger/slf4j/Handler.java
  text-logger-slf4j/src/main/java/net/kyori/adventure/text/logger/slf4j/UnpackedComponentThrowable.java
  text-logger-slf4j/src/main/java/net/kyori/adventure/text/logger/slf4j/WrappingComponentLoggerImpl.java
  text-logger-slf4j/src/main/java/net/kyori/adventure/text/logger/slf4j/package-info.java
  text-logger-slf4j/src/main/java9/net/kyori/adventure/text/logger/slf4j/CallerClassFinder.java
  text-logger-slf4j/src/test/java/net/kyori/adventure/text/logger/slf4j/CallerClassFinderTest.java
  text-logger-slf4j/src/test/java/net/kyori/adventure/text/logger/slf4j/ComponentLoggerTest.java
Labels: type: enhancement, area: text-logger-slf4j

#770 Implement seed field on sound, and add a builder
  api/src/main/java/net/kyori/adventure/sound/Sound.java
  api/src/main/java/net/kyori/adventure/sound/SoundImpl.java
  api/src/test/java/net/kyori/adventure/sound/SoundTest.java
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/SoundSerializer.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/SoundSerializer.java
Labels: type: enhancement, area: api, area: serialiser/configurate3, area: serialiser/configurate4

#779 key: Make Key implement Keyed
  key/src/main/java/net/kyori/adventure/key/Key.java
Labels: type: enhancement, area: key

#781 api: Remove use of terminally deprecated SecurityManager api
  api/src/main/java/net/kyori/adventure/util/UTF8ResourceBundleControl.java
Labels: area: api

#789 bug(#788): disable html escaping and use uppercase hex colour codes
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/GsonComponentSerializerImpl.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/TextColorSerializer.java
  text-serializer-gson/src/test/java/net/kyori/adventure/text/serializer/gson/Issue788Test.java
  text-serializer-gson/src/test/java/net/kyori/adventure/text/serializer/gson/StyleTest.java
Labels: type: bug, area: text-serialiser/gson
