Repository KyoriPowered/adventure, pull requests merged in 2022-11, with the labels that each got.

#786 Add convenience methods for appending a newline/space to a component
  api/src/main/java/net/kyori/adventure/text/Component.java
  api/src/main/java/net/kyori/adventure/text/ComponentBuilder.java
  api/src/test/java/net/kyori/adventure/text/TextComponentTest.java
Labels: type: enhancement, area: api

#774 feat(key): #773 Expose methods to check if a Key can be parsed
  key/src/main/java/net/kyori/adventure/key/Key.java
  key/src/main/java/net/kyori/adventure/key/KeyImpl.java
  key/src/test/java/net/kyori/adventure/key/KeyTest.java
Labels: type: enhancement, area: key

#819 minimessage: Parsing corner cases with quotes
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/internal/parser/TokenParser.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/MiniMessageParserTest.java
Labels: type: bug, area: text-minimessage

#835 fix(text-minimessage): Don't strip style of text components in gradients
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/AbstractColorChangingTag.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/tag/standard/GradientTagTest.java
Labels: type: bug, area: text-minimessage

#826 text-logger-slf4j: Add wrapper for fluent API
  gradle/libs.versions.toml
  renovate.json
  text-logger-slf4j/build.gradle.kts
  text-logger-slf4j/src/main/java/net/kyori/adventure/text/logger/slf4j/ComponentLogger.java
  text-logger-slf4j/src/main/java/net/kyori/adventure/text/logger/slf4j/ComponentLoggingEventBuilder.java
  text-logger-slf4j/src/main/java/net/kyori/adventure/text/logger/slf4j/ComponentLoggingEventBuilderImpl.java
  text-logger-slf4j/src/main/java/net/kyori/adventure/text/logger/slf4j/Handler.java
  text-logger-slf4j/src/main/java/net/kyori/adventure/text/logger/slf4j/NoOpComponentLoggingEventBuilderImpl.java
  text-logger-slf4j/src/main/java/net/kyori/adventure/text/logger/slf4j/WrappingComponentLoggerImpl.java
  text-logger-slf4j/src/test/java/net/kyori/adventure/text/logger/slf4j/ComponentLoggerTest.java
Labels: type: enhancement, area: text-logger-slf4j

#834 fix(text-minimessage): Preserve non-text components in color changing tags
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/AbstractColorChangingTag.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/tag/standard/GradientTagTest.java
Labels: type: bug, area: text-minimessage

#833 fix(text-minimessage): Be more lenient with input when stripping/escaping tags
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/MiniMessageParser.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/internal/parser/TokenParser.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/internal/parser/match/StringResolvingMatchedTokenConsumer.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/MiniMessageParserTest.java
Labels: type: bug, area: text-minimessage

#832 fix(text-minimessage): Properly handle escaped tag opens
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/internal/parser/Token.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/internal/parser/TokenParser.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/MiniMessageParserTest.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/MiniMessageSerializerTest.java
Labels: type: bug, area: text-minimessage

#836 feat(api): bossbar platform implementation
  api/src/main/java/net/kyori/adventure/bossbar/BossBarImpl.java
  api/src/main/java/net/kyori/adventure/bossbar/BossBarImplementation.java
Labels: type: enhancement, area: api

#793 api: Style#unmerge
  api/src/main/java/net/kyori/adventure/text/ComponentCompaction.java
  api/src/main/java/net/kyori/adventure/text/format/Style.java
  api/src/main/java/net/kyori/adventure/text/format/StyleImpl.java
  api/src/test/java/net/kyori/adventure/text/format/StyleTest.java
Labels: type: enhancement, area: api

#838 fix(api): Catch cases where empty components are not preserved
  api/src/main/java/net/kyori/adventure/text/TextComponentImpl.java
  api/src/test/java/net/kyori/adventure/text/TextComponentTest.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/MiniMessageParserTest.java
Labels: type: bug, area: api

#841 fix(text-logger-slf4j): Remove bin dependency on SLF4J2 at runtime
  text-logger-slf4j/src/main/java/net/kyori/adventure/text/logger/slf4j/ComponentLogger.java
  text-logger-slf4j/src/main/java/net/kyori/adventure/text/logger/slf4j/ComponentLoggingEventBuilder.java
  text-logger-slf4j/src/main/java/net/kyori/adventure/text/logger/slf4j/ComponentLoggingEventBuilderImpl.java
  text-logger-slf4j/src/main/java/net/kyori/adventure/text/logger/slf4j/NoOpComponentLoggingEventBuilderImpl.java
  text-logger-slf4j/src/main/java/net/kyori/adventure/text/logger/slf4j/WrappingComponentLoggerImpl.java
  text-logger-slf4j/src/test/java/net/kyori/adventure/text/logger/slf4j/ComponentLoggerTest.java
Labels: type: bug, area: text-logger-slf4j
