Repository KyoriPowered/adventure, pull requests merged in 2022-02, with the labels that each got.

#670 build: update indra to 2.1.0
  .checkstyle/checkstyle.xml
  .github/workflows/build.yml
  api/src/main/java/net/kyori/adventure/bossbar/BossBar.java
  api/src/main/java/net/kyori/adventure/text/Component.java
  api/src/main/java/net/kyori/adventure/util/ShadyPines.java
  build-logic/build.gradle.kts
  build-logic/src/main/kotlin/CopyJavadoc.kt
  build-logic/src/main/kotlin/JavadocPackaging.kt
  build-logic/src/main/kotlin/adventure.base-conventions.gradle.kts
  build-logic/src/main/kotlin/adventure.common-conventions.gradle.kts
  build-logic/src/main/kotlin/adventure.parent-build-logic.gradle.kts
  build-logic/src/main/kotlin/extensions.kt
  nbt/src/main/java/net/kyori/adventure/nbt/BinaryTagIO.java
  text-serializer-plain/src/main/java/net/kyori/adventure/text/serializer/plain/PlainComponentSerializer.java
Labels: type: dependencies

#671 text-minimessage: Use a Consumer rather than Appendable for debug output
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/ContextImpl.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/MiniMessage.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/MiniMessageImpl.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/MiniMessageParser.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/MiniMessageTest.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/TestBase.java
Labels: type: enhancement, area: text-minimessage

#658 text-minimessage: add deserialization method returning parsed tree
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/MiniMessage.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/MiniMessageImpl.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/MiniMessageParser.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/MiniMessageParserTest.java
Labels: type: enhancement, area: text-minimessage

#681 fix: Require all input to be non-null
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/MiniMessageImpl.java
Labels: type: bug, area: text-minimessage

#682 minimessage: Add a reset tag via a parser directive
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/MiniMessage.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/parser/TokenParser.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/ParserDirective.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/Tag.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/StandardTags.java
Labels: type: enhancement, area: text-minimessage

#683 chore: Documentation and formatting changes
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/ContextImpl.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/parser/Token.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/parser/match/StringResolvingMatchedTokenConsumer.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/parser/node/ElementNode.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/parser/node/RootNode.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/parser/node/TagNode.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/CallbackStylingTagImpl.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/Inserting.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/InsertingImpl.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/Modifying.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/PreProcess.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/PreProcessTagImpl.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/StylingTagImpl.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/Tag.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/resolver/CachingTagResolver.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/resolver/EmptyTagResolver.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/resolver/MapTagResolver.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/resolver/MappableResolver.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/resolver/SingleResolver.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/resolver/TagResolver.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/GradientTag.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/RainbowTag.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/StandardTags.java
Labels: area: text-minimessage

#684 Add missing StandardTags#decoration
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/StandardTags.java
Labels: type: bug, area: text-minimessage

#689 Fixed wrong return value for TagResolver$translatable()
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/StandardTags.java
Labels: type: bug, area: text-minimessage

#687 Add a new tag for line breaks (<br>)
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/NewlineTag.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/StandardTags.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/MiniMessageParserTest.java
Labels: type: enhancement, area: text-minimessage

#695 Backport main/5 changes to main/4
  api/src/main/java/net/kyori/adventure/text/AbstractNBTComponentBuilder.java
  api/src/main/java/net/kyori/adventure/text/BlockNBTComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/Component.java
  api/src/main/java/net/kyori/adventure/text/ComponentCompaction.java
  api/src/main/java/net/kyori/adventure/text/ComponentLike.java
  api/src/main/java/net/kyori/adventure/text/EntityNBTComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/KeybindComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/NBTComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/ScoreComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/SelectorComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/StorageNBTComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/TextComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/TranslatableComponentImpl.java
Labels: type: enhancement

#697 text-minimessage: Add a service for platforms to customize MiniMessage instances
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/MiniMessage.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/MiniMessageImpl.java
Labels: type: enhancement, area: text-minimessage

#700 key: make Key extend Namespaced
  key/src/main/java/net/kyori/adventure/key/Key.java
Labels: type: enhancement, area: key

#701 Allow parsing with custom Tag Resolvers
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/Context.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/ContextImpl.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/HoverTag.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/TranslatableTag.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/tag/TagResolverTest.java
Labels: type: enhancement, area: text-minimessage

#708 text-minimessage: Expose the root node type to API
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/MiniMessage.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/MiniMessageImpl.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/MiniMessageParser.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/parser/TokenParser.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/parser/node/RootNode.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tree/Node.java
Labels: type: enhancement, area: text-minimessage

#707 text-minimessage: Allow tags to be closed in one tag
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/MiniMessageParser.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/MiniMessageSerializer.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/parser/TokenParser.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/parser/TokenType.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/serializer/TokenEmitter.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/NewlineTag.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/MiniMessageParserTest.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/tag/standard/KeybindTagTest.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/tag/standard/NewlineTagTest.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/tag/standard/TranslatableTagTest.java
Labels: type: enhancement, area: text-minimessage

#710 text-minimessage: Unify logic for gradient/rainbow tags
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/AbstractColorChangingTag.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/ColorTagResolver.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/GradientTag.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/RainbowTag.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/tag/standard/GradientTagTest.java
Labels: type: bug, type: enhancement, area: text-minimessage

#713 text-minimessage: Allow getting tags for decorations individually
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/DecorationTag.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/StandardTags.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/tag/standard/DecorationTagTest.java
Labels: area: text-minimessage

#662 Implemented #515.
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/internal/parser/TokenParser.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/MiniMessageParserTest.java
Labels: type: enhancement, area: text-minimessage

#674 Implement TransitionTag
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/StandardTags.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/TransitionTag.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/tag/standard/TransitionTagTest.java
Labels: area: text-minimessage

#715 Fix serializing self-closing tags
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/MiniMessageSerializer.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/tag/standard/NewlineTagTest.java
Labels: type: bug, area: text-minimessage

#714 text-minimessage: Expose start/end indices on parsing exceptions
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/ParsingException.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/internal/parser/ParsingExceptionImpl.java
Labels: type: enhancement, area: text-minimessage

#488 Component::applyFallbackStyle helper method
  api/src/main/java/net/kyori/adventure/text/Component.java
  api/src/test/java/net/kyori/adventure/text/TextComponentTest.java
Labels: type: enhancement, area: api

#717 text-minimessage: Limit characters allowed in tag names
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/internal/TagInternals.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/internal/parser/node/TagNode.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/internal/serializer/SerializableResolver.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/resolver/SingleResolver.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/resolver/TagResolver.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/MiniMessageParserTest.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/MiniMessageTest.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/tag/TagResolverTest.java
Labels: type: enhancement, area: text-minimessage
