Repository KyoriPowered/adventure, pull requests merged in 2023-08, with the labels that each got.

#962 feature: Add a new standard join configuration for spaces
  api/src/main/java/net/kyori/adventure/text/JoinConfiguration.java
  api/src/main/java/net/kyori/adventure/text/JoinConfigurationImpl.java
  api/src/test/java/net/kyori/adventure/text/JoinTest.java
Labels: type: enhancement, area: api

#965 feat(nbt): expose size in CompoundBinaryTag
  nbt/src/main/java/net/kyori/adventure/nbt/CompoundBinaryTag.java
  nbt/src/main/java/net/kyori/adventure/nbt/CompoundBinaryTagImpl.java
Labels: type: enhancement, area: nbt

#951 feature: Expose tags and strict mode in `MiniMessage`
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/MiniMessage.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/MiniMessageImpl.java
Labels: type: enhancement, area: text-minimessage
