Repository KyoriPowered/adventure, pull requests merged in 2023-04, with the labels that each got.

#896 fix(text-minimessage): Correctly handle phase and multi-colour gradients
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/GradientTag.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/tag/standard/GradientTagTest.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/tag/standard/RainbowTagTest.java
Labels: type: bug, area: text-minimessage

#900 fix: Added missing PermissionChecker nullability checks
  api/src/main/java/net/kyori/adventure/permission/PermissionChecker.java
  api/src/main/java/net/kyori/adventure/permission/PermissionCheckers.java
Labels: type: enhancement, area: api

#898 ANSIComponentSerializer
  gradle/libs.versions.toml
  settings.gradle.kts
  text-serializer-ansi/build.gradle.kts
  text-serializer-ansi/src/main/java/net/kyori/adventure/text/serializer/ansi/ANSIComponentSerializer.java
  text-serializer-ansi/src/main/java/net/kyori/adventure/text/serializer/ansi/ANSIComponentSerializerImpl.java
  text-serializer-ansi/src/main/java/net/kyori/adventure/text/serializer/ansi/package-info.java
  text-serializer-ansi/src/test/java/net/kyori/adventure/text/serializer/ansi/ANSIComponentSerializerTest.java
Labels: type: enhancement, area: text-serialiser/ansi

#887 feat(key): try to include additional information in error messages when an invalid character has been detected in a Key
  key/src/main/java/net/kyori/adventure/key/Key.java
  key/src/main/java/net/kyori/adventure/key/KeyImpl.java
  key/src/test/java/net/kyori/adventure/key/KeyTest.java
Labels: type: enhancement, area: key
