Repository KyoriPowered/adventure, pull requests merged in 2023-12, with the labels that each got.

#1007 Fix StorageNBTComponentTest
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/StorageNBTComponentTest.java
Labels: type: bug, area: text-serialiser/gson

#1004 feat(api): Support representing translation args losslessly
  api/src/main/java/net/kyori/adventure/text/ComponentIteratorType.java
  api/src/main/java/net/kyori/adventure/text/TextReplacementRenderer.java
  api/src/main/java/net/kyori/adventure/text/TranslatableComponent.java
  api/src/main/java/net/kyori/adventure/text/TranslatableComponentImpl.java
  api/src/main/java/net/kyori/adventure/text/TranslationArgument.java
  api/src/main/java/net/kyori/adventure/text/TranslationArgumentImpl.java
  api/src/main/java/net/kyori/adventure/text/TranslationArgumentLike.java
  api/src/main/java/net/kyori/adventure/text/renderer/TranslatableComponentRenderer.java
  api/src/test/java/net/kyori/adventure/text/TranslatableComponentTest.java
  api/src/test/java/net/kyori/adventure/translation/GlobalTranslatorTest.java
  api/src/test/java/net/kyori/adventure/translation/TranslationRegistryTest.java
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/ComponentTypeSerializer.java
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/ConfigurateComponentSerializerImpl.java
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/TranslationArgumentTypeSerializer.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/ComponentTypeSerializer.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/ConfigurateComponentSerializerImpl.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/TranslationArgumentTypeSerializer.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/TranslatableFallbackTag.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/TranslatableTag.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/tag/standard/TranslatableFallbackTagTest.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/tag/standard/TranslatableTagTest.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/ComponentSerializerImpl.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/SerializerFactory.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/TranslationArgumentSerializer.java
Labels: type: enhancement, area: text-serialiser/gson, area: api, area: serialiser/configurate3, area: serialiser/configurate4

#1002 feat(api): A feature flag system to handle version compatibility
  gradle/libs.versions.toml
  nbt/build.gradle.kts
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/ComponentSerializerImpl.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/GsonComponentSerializer.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/GsonComponentSerializerImpl.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/SerializerFactory.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/ShowEntitySerializer.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/StyleSerializer.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/UUIDSerializer.java
  text-serializer-json/build.gradle.kts
  text-serializer-json/src/main/java/net/kyori/adventure/text/serializer/json/DummyJSONComponentSerializer.java
  text-serializer-json/src/main/java/net/kyori/adventure/text/serializer/json/JSONComponentSerializer.java
  text-serializer-json/src/main/java/net/kyori/adventure/text/serializer/json/JSONOptions.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/Issue788Test.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/JSONComponentSerializerTest.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/SerializerTest.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/ShowEntitySerializerTest.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/StyleTest.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/TextComponentTest.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/TranslatableComponentTest.java
Labels: area: text-serialiser/gson, area: api

#968 feat(nbt): Implement nameless binary serialization
  nbt/src/main/java/net/kyori/adventure/nbt/BinaryTagIO.java
  nbt/src/main/java/net/kyori/adventure/nbt/BinaryTagReaderImpl.java
  nbt/src/main/java/net/kyori/adventure/nbt/BinaryTagWriterImpl.java
  nbt/src/test/java/net/kyori/adventure/nbt/BinaryTagIOTest.java
Labels: type: enhancement, area: nbt

#1012 minimessage: Fix exception with single quote as tag part
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/internal/parser/node/TagPart.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/MiniMessageParserTest.java
Labels: type: bug, area: text-minimessage

#1014 docs: Migrate to new wiki links, closes #1013
  api/src/main/java/net/kyori/adventure/nbt/api/package-info.java
  api/src/main/java/net/kyori/adventure/text/NBTComponent.java
Labels: type: documentation
