Repository KyoriPowered/adventure, pull requests merged in 2023-10, with the labels that each got.

#980 Fix JavaDoc error
  api/src/main/java/net/kyori/adventure/sound/Sound.java
Labels: area: api, type: documentation

#985 feat(api): Identity implements Identified
  api/src/main/java/net/kyori/adventure/identity/Identity.java
Labels: type: enhancement, area: api

#989 Use EqualsTester instead of weird equality assertion
  api/src/test/java/net/kyori/adventure/text/title/TitleTest.java
  api/src/test/java/net/kyori/adventure/text/title/TitleTimesTest.java
  api/src/test/java/net/kyori/test/EqualityAssertions.java
Labels: area: api
