Repository KyoriPowered/adventure, pull requests merged in 2023-05, with the labels that each got.

#914 ansi: tiny javadoc since tag fix
  text-serializer-ansi/src/main/java/net/kyori/adventure/text/serializer/ansi/ANSIComponentSerializer.java
Labels: type: documentation, area: text-serialiser/ansi

#916 Fix: ANSI serializer isn't using configured flattener & color level
  text-serializer-ansi/src/main/java/net/kyori/adventure/text/serializer/ansi/ANSIComponentSerializerImpl.java
Labels: type: bug, area: text-serialiser/ansi

#923 chore: rename static constructors
  api/src/main/java/net/kyori/adventure/text/event/HoverEvent.java
  api/src/test/java/net/kyori/adventure/text/event/HoverEventTest.java
  nbt/src/main/java/net/kyori/adventure/nbt/BinaryTagReaderImpl.java
  nbt/src/main/java/net/kyori/adventure/nbt/BinaryTagType.java
  nbt/src/main/java/net/kyori/adventure/nbt/BinaryTagTypes.java
  nbt/src/main/java/net/kyori/adventure/nbt/ByteArrayBinaryTag.java
  nbt/src/main/java/net/kyori/adventure/nbt/ByteBinaryTag.java
  nbt/src/main/java/net/kyori/adventure/nbt/CompoundTagSetter.java
  nbt/src/main/java/net/kyori/adventure/nbt/DoubleBinaryTag.java
  nbt/src/main/java/net/kyori/adventure/nbt/EndBinaryTag.java
  nbt/src/main/java/net/kyori/adventure/nbt/FloatBinaryTag.java
  nbt/src/main/java/net/kyori/adventure/nbt/IntArrayBinaryTag.java
  nbt/src/main/java/net/kyori/adventure/nbt/IntBinaryTag.java
  nbt/src/main/java/net/kyori/adventure/nbt/ListBinaryTag.java
  nbt/src/main/java/net/kyori/adventure/nbt/LongArrayBinaryTag.java
  nbt/src/main/java/net/kyori/adventure/nbt/LongBinaryTag.java
  nbt/src/main/java/net/kyori/adventure/nbt/ShortBinaryTag.java
  nbt/src/main/java/net/kyori/adventure/nbt/StringBinaryTag.java
  nbt/src/main/java/net/kyori/adventure/nbt/TagStringReader.java
  nbt/src/test/java/net/kyori/adventure/nbt/BigTest.java
  nbt/src/test/java/net/kyori/adventure/nbt/ListBinaryTagTest.java
  nbt/src/test/java/net/kyori/adventure/nbt/ReadWriteTest.java
  nbt/src/test/java/net/kyori/adventure/nbt/StringIOTest.java
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/HoverEventShowEntitySerializer.java
  serializer-configurate3/src/main/java/net/kyori/adventure/serializer/configurate3/HoverEventShowItemSerializer.java
  serializer-configurate3/src/test/java/net/kyori/adventure/serializer/configurate3/HoverEventSerializersTest.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/HoverEventShowEntitySerializer.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/HoverEventShowItemSerializer.java
  serializer-configurate4/src/test/java/net/kyori/adventure/serializer/configurate4/HoverEventSerializersTest.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/HoverTag.java
  text-serializer-gson-legacy-impl/src/main/java/net/kyori/adventure/text/serializer/gson/legacyimpl/NBTLegacyHoverEventSerializerImpl.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/ShowEntitySerializer.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/ShowItemSerializer.java
  text-serializer-gson/src/test/java/net/kyori/adventure/text/serializer/gson/ShowItemSerializerTest.java
  text-serializer-gson/src/test/java/net/kyori/adventure/text/serializer/gson/StyleTest.java
  text-serializer-gson/src/test/java/net/kyori/adventure/text/serializer/gson/TranslatableComponentTest.java
Labels: type: enhancement, area: api, area: nbt
