Repository KyoriPowered/adventure, pull requests merged in 2024-02, with the labels that each got.

#1035 add component decoder
  api/src/main/java/net/kyori/adventure/text/serializer/ComponentDecoder.java
  api/src/main/java/net/kyori/adventure/text/serializer/ComponentSerializer.java
Labels: type: enhancement, area: api

#1036 feat(api): Add removeResourcePack overload with Iterable
  api/src/main/java/net/kyori/adventure/audience/Audience.java
  api/src/main/java/net/kyori/adventure/audience/ForwardingAudience.java
Labels: type: enhancement, area: api

#1042 feat(text-minimessage): Show ANSI rendering of parsed components in tests
  text-minimessage/build.gradle.kts
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/AbstractTest.java
Labels: type: enhancement, area: text-minimessage

#1041 fix(text-minimessage): Handle larger raninbow phases correctly
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/RainbowTag.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/tag/standard/RainbowTagTest.java
Labels: type: bug, area: text-minimessage

#1044 fix: Allow for case-insensitivity in legacy serializer, closes #1043
  text-serializer-legacy/src/main/java/net/kyori/adventure/text/serializer/legacy/CharacterAndFormat.java
  text-serializer-legacy/src/main/java/net/kyori/adventure/text/serializer/legacy/CharacterAndFormatImpl.java
  text-serializer-legacy/src/main/java/net/kyori/adventure/text/serializer/legacy/CharacterAndFormatSet.java
  text-serializer-legacy/src/test/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializerTest.java
Labels: type: bug, area: text-serialiser/legacy
