Repository KyoriPowered/adventure, pull requests merged in 2024-12, with the labels that each got.

#1108 ensure numbers where we expected booleans parse correctly.
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/GsonHacks.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/StyleTest.java
Labels: type: bug, area: text-serialiser/gson

#938 feat(mini-message): add Formatter#joining
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/resolver/Formatter.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/tag/FormatterTest.java
Labels: type: enhancement, area: text-minimessage

#1124 feat: shadow colors
  api/src/main/java/net/kyori/adventure/text/AbstractComponentBuilder.java
  api/src/main/java/net/kyori/adventure/text/Component.java
  api/src/main/java/net/kyori/adventure/text/ScopedComponent.java
  api/src/main/java/net/kyori/adventure/text/format/ShadowColor.java
  api/src/main/java/net/kyori/adventure/text/format/ShadowColorImpl.java
  api/src/main/java/net/kyori/adventure/text/format/Style.java
  api/src/main/java/net/kyori/adventure/text/format/StyleGetter.java
  api/src/main/java/net/kyori/adventure/text/format/StyleImpl.java
  api/src/main/java/net/kyori/adventure/text/format/StyleSetter.java
  api/src/main/java/net/kyori/adventure/text/renderer/TranslatableComponentRenderer.java
  api/src/main/java/net/kyori/adventure/util/ARGBLike.java
  api/src/test/java/net/kyori/adventure/text/format/ShadowColorTest.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/ConfigurateComponentSerializerImpl.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/ShadowColorSerializer.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/StyleSerializer.java
  serializer-configurate4/src/test/java/net/kyori/adventure/serializer/configurate4/StyleSerializerTest.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/ShadowColorTag.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/StandardTags.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/tag/standard/ShadowColorTagTest.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/SerializerFactory.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/ShadowColorSerializer.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/StyleSerializer.java
  text-serializer-json/src/main/java/net/kyori/adventure/text/serializer/json/JSONComponentConstants.java
  text-serializer-json/src/main/java/net/kyori/adventure/text/serializer/json/JSONOptions.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/StyleTest.java
Labels: type: enhancement, area: api

#1145 fix(text-serializer-gson): correctly handle removed data components
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/ShowItemSerializer.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/ShowItemSerializerTest.java
Labels: type: bug, area: text-serialiser/gson
