Repository KyoriPowered/adventure, pull requests merged in 2024-04, with the labels that each got.

#429 feat(api): Pointers supplier
  api/src/main/java/net/kyori/adventure/pointer/PointersSupplier.java
  api/src/main/java/net/kyori/adventure/pointer/PointersSupplierImpl.java
  api/src/test/java/net/kyori/adventure/pointer/PointersTest.java
Labels: type: enhancement, area: api

#1067 fix(api): Only trigger bossbar listeners if flags actually changed
  api/src/main/java/net/kyori/adventure/bossbar/BossBarImpl.java
Labels: type: bug, area: api

#1055 1.20.5
  annotation-processors/build.gradle.kts
  api/build.gradle.kts
  api/src/main/java/net/kyori/adventure/nbt/api/BinaryTagHolder.java
  api/src/main/java/net/kyori/adventure/text/event/DataComponentValue.java
  api/src/main/java/net/kyori/adventure/text/event/DataComponentValueConversionImpl.java
  api/src/main/java/net/kyori/adventure/text/event/DataComponentValueConverterRegistry.java
  api/src/main/java/net/kyori/adventure/text/event/HoverEvent.java
  api/src/main/java/net/kyori/adventure/text/event/RemovedDataComponentValueImpl.java
  api/src/main/java/net/kyori/adventure/text/flattener/ComponentFlattenerImpl.java
  api/src/main/java/net/kyori/adventure/util/InheritanceAwareMap.java
  api/src/main/java/net/kyori/adventure/util/InheritanceAwareMapImpl.java
  api/src/main/java/net/kyori/adventure/util/Services.java
  api/src/test/java/net/kyori/adventure/text/event/DataComponentValueConverterRegistryTest.java
  api/src/test/java/net/kyori/adventure/text/event/HoverEventTest.java
  gradle/libs.versions.toml
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/ConfigurateComponentSerializerImpl.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/ConfigurateDataComponentValue.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/ConfigurateDataComponentValueTypeSerializer.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/HoverEventShowItemSerializer.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/SnapshottingConfigurateDataComponentValue.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/HoverTag.java
  text-serializer-gson/build.gradle.kts
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/GsonDataComponentValue.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/GsonDataComponentValueImpl.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/SerializerFactory.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/ShowItemSerializer.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/impl/GsonDataComponentValueConverterProvider.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/impl/JSONComponentSerializerProviderImpl.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/impl/package-info.java
  text-serializer-gson/src/main/resources/META-INF/services/net.kyori.adventure.text.serializer.json.JSONComponentSerializer$Provider
  text-serializer-json/src/main/java/net/kyori/adventure/text/serializer/json/JSONComponentConstants.java
  text-serializer-json/src/main/java/net/kyori/adventure/text/serializer/json/JSONOptions.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/ShowItemSerializerTest.java
Labels: type: enhancement, area: text-serialiser/gson, area: api, area: serialiser/configurate4, area: text-minimessage
