Repository KyoriPowered/adventure, pull requests merged in 2025-10, with the labels that each got.

#1263 fix(nbt): Correct `defaultValue` nullability
  nbt/src/main/java/net/kyori/adventure/nbt/CompoundBinaryTag.java
  nbt/src/main/java/net/kyori/adventure/nbt/ListBinaryTag.java
Labels: type: bug, area: nbt

#1280 fix invalid url extraction in legacy component serializer
  text-serializer-legacy/src/main/java/net/kyori/adventure/text/serializer/legacy/LegacyComponentSerializerImpl.java
  text-serializer-legacy/src/test/java/net/kyori/adventure/text/serializer/legacy/LinkingLegacyComponentSerializerTest.java
Labels: type: bug, area: text-serialiser/legacy

#1297 chore: Check TagResolver#has in more places
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/resolver/MapTagResolver.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/resolver/SequentialTagResolver.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/resolver/SingleResolver.java
Labels: type: enhancement, area: text-minimessage

#1290 feat(json): add option to prepend https to click event urls
  api/src/main/java/net/kyori/adventure/text/event/ClickEvent.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/StyleSerializer.java
  text-serializer-json/src/main/java/net/kyori/adventure/text/serializer/json/JSONOptions.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/StyleTest.java
Labels: type: enhancement, area: text-serialiser/gson, area: text-serializer/json
