Repository KyoriPowered/adventure, pull requests merged in 2025-03, with the labels that each got.

#1177 feature(api): Silly micro optimisations for the mm color tag
  api/src/main/java/net/kyori/adventure/text/format/TextColor.java
  text-minimessage/src/jmh/java/net/kyori/adventure/text/minimessage/benchmark/MiniMessageBenchmark.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/ColorTagResolver.java
Labels: type: enhancement, area: api, area: text-minimessage

#1180 feature(minimessage): Check for colors before parsing phases
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/ColorTagResolver.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/GradientTag.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/tag/standard/TransitionTag.java
Labels: type: enhancement, area: text-minimessage

#1181 feature(api): Improve handling of component children and component translating
  api/src/main/java/net/kyori/adventure/text/Component.java
  api/src/main/java/net/kyori/adventure/text/ScopedComponent.java
  api/src/main/java/net/kyori/adventure/translation/Translator.java
  api/src/test/java/net/kyori/adventure/text/TextComponentTest.java
  api/src/test/java/net/kyori/adventure/translation/GlobalTranslatorTest.java
Labels: type: enhancement, area: api, type: documentation

#1182 feature(api, minimessage): Replace TranslationRegistry with a generic TranslationStore
  api/src/main/java/net/kyori/adventure/translation/AbstractTranslationStore.java
  api/src/main/java/net/kyori/adventure/translation/ComponentTranslationStore.java
  api/src/main/java/net/kyori/adventure/translation/GlobalTranslator.java
  api/src/main/java/net/kyori/adventure/translation/MessageFormatTranslationStore.java
  api/src/main/java/net/kyori/adventure/translation/TranslationRegistry.java
  api/src/main/java/net/kyori/adventure/translation/TranslationRegistryImpl.java
  api/src/main/java/net/kyori/adventure/translation/TranslationStore.java
  api/src/main/java/net/kyori/adventure/translation/Translator.java
  api/src/test/java/net/kyori/adventure/translation/TranslationStoreTest.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/translation/MiniMessageTranslationStore.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/translation/MiniMessageTranslationStoreImpl.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/translation/MiniMessageTranslator.java
Labels: type: enhancement, area: api, area: text-minimessage

#1192 Add TagStringIO#asString for any tag
  nbt/src/main/java/net/kyori/adventure/nbt/TagStringIO.java
Labels: type: enhancement, area: nbt
