Repository KyoriPowered/adventure, pull requests merged in 2025-06, with the labels that each got.

#1232 fix(api): Don't throw an exception if a PointersSupplier has no parent
  api/src/main/java/net/kyori/adventure/pointer/PointersSupplierImpl.java
  api/src/test/java/net/kyori/adventure/pointer/PointersTest.java
Labels: type: bug, area: api

#1242 Improved support for hetergeneous lists
  nbt/src/main/java/net/kyori/adventure/nbt/ListBinaryTagImpl.java
  nbt/src/main/java/net/kyori/adventure/nbt/TagStringIO.java
  nbt/src/main/java/net/kyori/adventure/nbt/TagStringReader.java
  nbt/src/main/java/net/kyori/adventure/nbt/TagStringWriter.java
  nbt/src/test/java/net/kyori/adventure/nbt/ListBinaryTagTest.java
  nbt/src/test/java/net/kyori/adventure/nbt/StringIOTest.java
Labels: type: enhancement, area: nbt

#1243 fix: Make custom click events hold NBT payloads
  api/src/main/java/net/kyori/adventure/text/event/ClickEvent.java
  api/src/main/java/net/kyori/adventure/text/event/PayloadImpl.java
Labels: type: bug, area: api

#1245 fix(key): Ensure keys with invalid namespaces throw the correct exception
  key/src/main/java/net/kyori/adventure/key/Key.java
  key/src/main/java/net/kyori/adventure/key/KeyImpl.java
  key/src/test/java/net/kyori/adventure/key/KeyTest.java
Labels: type: bug, area: key

#1246 feature(api): Add a method to close an open dialog
  api/src/main/java/net/kyori/adventure/audience/Audience.java
  api/src/main/java/net/kyori/adventure/audience/ForwardingAudience.java
Labels: type: enhancement, area: api

#1247 Add `equals` to `VirtualComponent`
  api/src/main/java/net/kyori/adventure/text/VirtualComponentImpl.java
Labels: type: bug, area: api
