Repository KyoriPowered/adventure, pull requests merged in 2025-04, with the labels that each got.

#1193 feat(text-serializer-commons): split into new module
  bom/build.gradle.kts
  serializer-configurate4/build.gradle.kts
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/ComponentTypeSerializer.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/HoverEventShowEntitySerializer.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/HoverEventShowItemSerializer.java
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/StyleSerializer.java
  serializer-configurate4/src/test/java/net/kyori/adventure/serializer/configurate4/BookSerializerTest.java
  serializer-configurate4/src/test/java/net/kyori/adventure/serializer/configurate4/ComponentSerializerTest.java
  serializer-configurate4/src/test/java/net/kyori/adventure/serializer/configurate4/HoverEventSerializersTest.java
  serializer-configurate4/src/test/java/net/kyori/adventure/serializer/configurate4/StyleSerializerTest.java
  serializer-configurate4/src/test/java/net/kyori/adventure/serializer/configurate4/TitleSerializerTest.java
  settings.gradle.kts
  text-serializer-commons/build.gradle.kts
  text-serializer-commons/src/main/java/net/kyori/adventure/text/serializer/commons/ComponentTreeConstants.java
  text-serializer-commons/src/main/java/net/kyori/adventure/text/serializer/commons/package-info.java
  text-serializer-gson/build.gradle.kts
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/ComponentSerializerImpl.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/ShowEntitySerializer.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/ShowItemSerializer.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/StyleSerializer.java
  text-serializer-json/build.gradle.kts
  text-serializer-json/src/main/java/net/kyori/adventure/text/serializer/json/JSONComponentConstants.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/BlockNBTComponentTest.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/EntityNBTComponentTest.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/Issue788Test.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/JSONComponentSerializerTest.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/KeybindComponentTest.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/ScoreComponentTest.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/SelectorComponentTest.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/SerializerTest.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/ShowEntitySerializerTest.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/ShowItemSerializerTest.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/StorageNBTComponentTest.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/StyleTest.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/TextComponentTest.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/TranslatableComponentTest.java
Labels: type: enhancement, area: text-serialiser/gson, area: serialiser/configurate4, area: text-serialiser/nbt, area: text-serializer/json

#1209 Use DecorationMap for style builder
  api/src/main/java/net/kyori/adventure/text/format/StyleImpl.java
Labels: type: enhancement, area: api

#1188 Add NumberBinaryTag#numberValue
  nbt/src/main/java/net/kyori/adventure/nbt/ByteBinaryTagImpl.java
  nbt/src/main/java/net/kyori/adventure/nbt/DoubleBinaryTagImpl.java
  nbt/src/main/java/net/kyori/adventure/nbt/FloatBinaryTagImpl.java
  nbt/src/main/java/net/kyori/adventure/nbt/IntBinaryTagImpl.java
  nbt/src/main/java/net/kyori/adventure/nbt/LongBinaryTagImpl.java
  nbt/src/main/java/net/kyori/adventure/nbt/NumberBinaryTag.java
  nbt/src/main/java/net/kyori/adventure/nbt/ShortBinaryTagImpl.java
Labels: type: enhancement, area: nbt

#1208 feat(nbt): Add stream API for compound/list tags
  nbt/src/main/java/net/kyori/adventure/nbt/CompoundBinaryTag.java
  nbt/src/main/java/net/kyori/adventure/nbt/CompoundBinaryTagImpl.java
  nbt/src/main/java/net/kyori/adventure/nbt/ListBinaryTag.java
Labels: type: enhancement, area: nbt

#1211 fix(minimessage): rename `numeric` to `string`
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/translation/Argument.java
Labels: type: bug, area: text-minimessage

#1168 1.21.5 component changes
  serializer-configurate4/src/main/java/net/kyori/adventure/serializer/configurate4/StyleSerializer.java
  serializer-configurate4/src/test/java/net/kyori/adventure/serializer/configurate4/HoverEventSerializersTest.java
  serializer-configurate4/src/test/java/net/kyori/adventure/serializer/configurate4/StyleSerializerTest.java
  text-serializer-commons/src/main/java/net/kyori/adventure/text/serializer/commons/ComponentTreeConstants.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/GsonComponentSerializer.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/SerializerFactory.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/ShowEntitySerializer.java
  text-serializer-gson/src/main/java/net/kyori/adventure/text/serializer/gson/StyleSerializer.java
  text-serializer-json/src/main/java/net/kyori/adventure/text/serializer/json/JSONComponentConstants.java
  text-serializer-json/src/main/java/net/kyori/adventure/text/serializer/json/JSONOptions.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/JSONComponentSerializerTest.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/ShowEntitySerializerTest.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/ShowItemSerializerTest.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/StyleTest.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/TextComponentTest.java
  text-serializer-json/src/testFixtures/java/net/kyori/adventure/text/serializer/json/TranslatableComponentTest.java
Labels: type: enhancement, area: text-serialiser/gson, area: text-serializer/json

#1216 feature(minimessage): Set the target to hold the locale of the translation by default
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/translation/LocalePointered.java
  text-minimessage/src/main/java/net/kyori/adventure/text/minimessage/translation/MiniMessageTranslator.java
  text-minimessage/src/test/java/net/kyori/adventure/text/minimessage/MiniMessageTranslatorTest.java
Labels: type: enhancement, area: text-minimessage

#1167 feat(nbt): update number parsing for 1.21.5
  nbt/src/main/java/net/kyori/adventure/nbt/TagStringReader.java
  nbt/src/main/java/net/kyori/adventure/nbt/Tokens.java
  nbt/src/test/java/net/kyori/adventure/nbt/StringIOTest.java
Labels: type: enhancement, area: nbt

#1218 feat(nbt): Initial implementation of heterogeneous list handling
  nbt/src/main/java/net/kyori/adventure/nbt/BinaryTagTypes.java
  nbt/src/main/java/net/kyori/adventure/nbt/ListBinaryTag.java
  nbt/src/main/java/net/kyori/adventure/nbt/ListBinaryTagImpl.java
  nbt/src/main/java/net/kyori/adventure/nbt/ListTagBuilder.java
  nbt/src/main/java/net/kyori/adventure/nbt/TagStringReader.java
  nbt/src/test/java/net/kyori/adventure/nbt/ListBinaryTagTest.java
  nbt/src/test/java/net/kyori/adventure/nbt/StringIOTest.java
Labels: type: enhancement, area: nbt
