Repository KyoriPowered/adventure, pull requests merged in 2025-07, with the labels that each got.

#1255 fix: component flattener not popping styles in correct order
  api/src/main/java/net/kyori/adventure/text/flattener/ComponentFlattenerImpl.java
  api/src/test/java/net/kyori/adventure/text/flattener/ComponentFlattenerTest.java
Labels: type: bug, area: api

#1276 fix(api): fix removing mutated source from GlobalTranslator
  api/src/main/java/net/kyori/adventure/translation/AbstractTranslationStore.java
  api/src/test/java/net/kyori/adventure/translation/GlobalTranslatorTest.java
Labels: type: bug, area: api

#1251 docs: Remove wiki.vg link from NBT javadoc
  api/src/main/java/net/kyori/adventure/nbt/api/package-info.java
Labels: area: api, type: documentation

#1252 Implement #canTranslate in GlobalTranslatorImpl and call #canTranslate of its sources
  api/src/main/java/net/kyori/adventure/translation/GlobalTranslatorImpl.java
Labels: type: enhancement, area: api
